[2013-05-21 08:01] marcoscaceres opened #1 "Get all references"
Does the API support a way of getting all references? It's not clear from the documentation.  If no, then I need this feature for so I can migrate my bibref maker to use the service.

Please see:

https://github.com/marcoscaceres/bib_entry_maker/issues/11

[2013-05-21 08:42] #1 closed, assigned to tobie

[2013-06-06 15:14] marcoscaceres opened #8 "beautifier"
If there isn't already, I wonder if there could be some kind of beautifier added to the build process (don't know if travis supports such a thing - or whatever does the integration).  But it would be good to not have to bug people about white space and beautification, as I tend to do :)

[2013-07-03 14:41] dontcallmedom opened #18 "Specs can have multiple deliveredBy"
As far as I can tell, currently the database only expose specs with a single Working Group owner (deliveredBy), while there are quite a few specs that have more than one.

I guess the import-from-rdf script needs to be fixed; I'm not sure whether consumers of the data are expecting that deliveredBy can be an array (not just a string)

[2013-07-09 20:35] lanthaler opened #22 "The spec short names should be case-insensitive"
A reference like `RDF11-MT` in ReSpec currently doesn't work as the biblio DB uses `rdf11-mt` as index and the service at jitsu is case-sensitive. Consequently http://specref.jit.su/bibrefs?refs=RDF11-MT returns no data.

[2013-07-10 00:41] sspeiche opened #23 "Table of contents missing after last refresh"
With recent push of biblio.json and friends, getting an error with vanishing TOC.
See the linked sample the [[2dcontext]] on line 147, not TOC.  Remove the [[2dcontext]] string, you get a TOC again.

Reporting as don't know the code and no time to debug at the moment.

https://dvcs.w3.org/hg/ldpwg/raw-file/default/ldpbusted.html

[2013-07-10 06:15] #23 closed, assigned to nobody

[2013-07-17 11:51] tobie opened #31 "Automate aliasing of W3C specs which change shortname."
Pending tr.rdf being fixed.

[2013-07-18 08:02] #18 closed, assigned to nobody

[2013-07-26 23:29] marcoscaceres opened #37 "Front-end UI for submitting new entries"
Doing pull requests is getting old (people's branches fall out of sync... there is a lot of rebasing, etc. and it's kinda silly for a project like this). It would be nice if there was some kind of front end for generating and submitting entries.

Something like:
http://marcoscaceres.github.io/bib_entry_maker/

Except not crap :)

[2013-09-18 11:27] tobie opened #47 "Current build crashes the app on deployment"
Make sure to properly roll-back all the changes or do a force-update to the latest stable commit.

[2013-09-18 14:23] #47 closed, assigned to marcoscaceres

[2013-10-28 10:31] tobie opened #55 "Missing editors for the WebAudio spec"
This is a W3C db issue, but tracking it here nonetheless.

/cc @cwilso

[2013-10-28 21:51] #55 closed, assigned to tobie

[2013-11-04 23:29] tabatkins opened #59 "Document the format of entries"
Just glancing over the entries, I can infer a format for each, but I'd greatly enjoy an actual format description, to ensure I don't miss anything.

[2013-11-05 00:20] tabatkins opened #60 "Mismatch between Bert's and Specref's data model?"
Bert's biblio.ref file, which forms the basis of Specref from the history in the README, has several more pieces of data than appears possible to document in Specref.

In particular, the %I (Issuer) metadata shows up in several entries that don't otherwise have authors.  Several have %O (Other) as well, though this appears to be mostly (entirely?) used to denote things that aren't yet Recs.

In to

[2014-01-07 03:04] sandhawke opened #64 "W3C TR's sync not running?"
Some pubs, like http://www.w3.org/TR/2013/PR-vocab-data-cube-20131217/ are still showing up as their previous versions.

[2014-01-10 08:36] #64 closed, assigned to nobody

[2014-02-12 10:47] dontcallmedom opened #73 "Add shortname for WGs in deliveredBy"
As discussed in:
https://github.com/tobie/ganesh/pull/1#discussion_r9661129
the transformation of the WG homepage url to a human readable shortname would probably be a useful addition to specref.

not sure how to add the suggested structure deliveredBy:{shortname:"foo",url:"http://…"} without breaking backwards compatibility: what is the general approach to managing these changes in specref?

(the

[2014-02-17 23:35] #73 closed, assigned to nobody

[2014-08-07 11:50] #22 closed, assigned to tobie

[2014-08-25 15:34] #8 closed, assigned to nobody

[2014-09-10 14:48] tabatkins opened #120 "Are the CSS entries auto-updated?"
I want to fix all the CSS entries to use the proper shortnaming, and have unversioned shortnames aliasing the latest versioned shortname.  Are they currently maintained by an auto-update, such that my changes would be wiped out?  If so, anything I can do about it?

If not, expect a decent-sized PR in the near future.

[2014-09-12 18:32] #120 closed, assigned to nobody

[2014-09-12 18:33] #31 closed, assigned to tobie

[2014-10-07 07:36] tobie opened #138 "Exposing ED urls"
We're now getting ED urls directly from the W3C RDF.

Would like your thoughts on how to best expose them through the Specref API.

I see the following options:
1. Pass an extra query param to specify what you want, e.g.:

http://specref.jit.su/bibrefs?refs=service-workers&type=ED|TR|LATEST

Which would give you, respectively:
- https://slightlyoff.github.io/ServiceWorker/spec/service_worker/
- ht

[2014-10-15 07:59] #138 closed, assigned to tobie

[2014-10-21 12:19] tobie opened #147 "Convert legacy HTML references to structured data."
These references are still in need of conversion:
- [x] [ABC](http://specref.jit.su/bibrefs?refs=ABC)
- [x] [AD-INDUSTRY](http://specref.jit.su/bibrefs?refs=AD-INDUSTRY)
- [x] [AGBDL](http://specref.jit.su/bibrefs?refs=AGBDL)
- [x] [ANSI-X9-44-2007](http://specref.jit.su/bibrefs?refs=ANSI-X9-44-2007)
- [x] [ARABIC-TYPO](http://specref.jit.su/bibrefs?refs=ARABIC-TYPO)
- [x] [BBC-WP193](http://specr

[2014-11-10 09:30] annevk opened #153 "Link to tools.ietf.org/html/ for RFCs"
So much better usability including vital links such as the RFC being updated, obsoleted, having errata, etc.

[2014-11-10 11:16] #153 closed, assigned to nobody

[2014-12-01 17:40] domenic opened #158 "WebIDL is still producing out of date entries"
See e.g. http://www.w3.org/2001/tag/doc/promises-guide#normative:

I tried to fix this in https://github.com/tobie/specref/commit/bb479a766f43118dba355ecb27105349f702d93b but it was broken by the auto-update bot in https://github.com/tobie/specref/commit/6e4d4b17bfec40a7bde8577eda2f882aa3c874af

Presumably this isn't your fault but I figured it'd be worth having a tracking issue here until we get

[2014-12-05 23:20] #158 closed, assigned to nobody

[2015-01-30 08:09] tobie commented on #60
Think that has been mostly addressed in #162.

Closing.

[2015-01-30 08:09] #60 closed

[2015-01-30 08:11] tobie commented on #37
Feel like this is much less of an issue now that most of the content generation has been automated. Closing.

[2015-01-30 08:11] #37 closed

[2015-02-13 22:03] tobie commented on #59
Added a [schema](https://github.com/tobie/specref/blob/master/schemas/raw-reference.json) for testing. This can be used to document the format, just needs a good tool to convert it to something palatable.

[2015-04-24 00:41] tabatkins opened #180 "DB has both "uievents" and "ui-events""
The biblio db has both "uievents" and "ui-events", which aren't aliases of each other, but clearly should be.  If possible, we should keep the "ui-events" name, but this doesn't really matter, and you should use whatever name is easiest for your tools.

(This is currently messing up the bibliography of the DOM spec.)

[2015-04-25 09:05] tobie commented on #180
Keeping "uievents" (as that's the W3C shortname), aliasing "ui-events." Landing PR in a few.

[2015-04-25 09:20] #180 closed

[2015-04-28 21:25] tabatkins opened #182 "Is it ok for an entry to have only an edDraft, not an href?"
We have a few CSSWG EDs that haven't been published yet.  Are they allowed in the database?  If so, what structure should they have?  I'm imagining something like:

[code]

[2015-04-29 06:03] tobie commented on #182
Sounds good. I'd also reference the ED URL from the "href" prop, so as not to trip up consumers which are expecting is, so:

[code]

[2015-05-01 16:25] annevk opened #184 "[[FULLSCREEN]] should map to fullscreen.spec.whatwg.org"
No other specification is maintained. We could call the other version LEGACY-FULLSCREEN or W3C-FULLSCREEN? Happy to write a pull request for this.

[2015-05-01 17:08] tobie commented on #184
So this implies also handling this somehow in the auto-update scripts or it'll get overwritten when the next auto-update kicks in.

[2015-05-02 07:54] annevk commented on #184
Can you give me a pointer? Happy to do that.

[2015-05-02 08:45] tobie commented on #184
The auto-update scripts are kind of a giant ball of Scotch tape at this point, so I'm not 100% sure what the solution is. Not to mention that W3C has two completely different ways of indicating retired specs, one which I just found out about now. FYI, the file that handles W3C updates is "/scripts/rdf.js".

Simply renaming things doesn't work as it's immediately overwritten by the auto-update scri

[2015-05-02 09:10] tobie commented on #184
Fixed the isRetired issue in #186. Intend to use this as a way to prevent overwriting.

[2015-05-04 19:01] marcoscaceres commented on #184
hmmm... I guess the best thing to do right now is to have a "whatwg-fullscreen" ref. There is no much we can do about W3C squatting "fullscreen" :( I think that will be fine, as the fullscreen spec has been gutted and points anyone who lands there to the right place.

[2015-05-04 20:00] tabatkins commented on #184
@marcoscaceres Nah, that's just a short-term solution. As tobie alluded to, when we know that a spec is retired, we can avoid having the auto-updater overwrite a same-name spec from a different source.

[2015-05-04 20:15] marcoscaceres commented on #184
Ok, we should work with the w3c team then.

[2015-05-04 20:52] tobie commented on #184
Well, we have this data; a bunch of specs--including this one--are already marked as retired. Now we just have to account for this information in order to avoid overwriting references that have been manually modified.

[2015-05-04 21:36] tabatkins commented on #184
Looks like it's just a matter of, at `rdf.js:142`, checking if the rdf ref is retired, and the `current` ref is `!isGeneratedByThisScript()`, and only doing the work in that conditional if both of those are false.

[2015-05-05 04:25] annevk commented on #184
The alternative is maybe having duplicate metadata? And let the specification decide which set to use? E.g. I noticed [[ENCODING]] is bogus though, listing a W3C editor that is not actually editing. And maybe for WHATWG documents I would just credit the WHATWG, not anyone in particular.

[2015-05-05 09:19] tobie commented on #184
@tabatkins something like that (that script is in such a bad state I'm never too sure what effect an actual change has until I actually run the script on the data and compare the output).

@annevk so the problem with [[ENCODING]] is its gathering the data from the W3C tr.rdf file which lists editors as they were indicated on the last WD.

ToDos:
- [ ] fix the W3C import script so it doesn't overwr

[2015-05-05 09:31] annevk commented on #184
I'm happy to host a JSON file on resources.whatwg.org that has an overview of all WHATWG documents that you could scrape. Or we could add it to this repository? Automated seems overkill given that we don't actually believe in referencing snapshots.

[2015-05-05 09:58] tobie commented on #184
@annevk whatever's more convenient for you. I wasn't intending to reference snapshots, just scrape it daily to automatically reference new specs and modify existing ones in case of a title or editor change. If you're willing to do the work by hand directly in biblio.json, that works too.

[2015-05-05 11:08] annevk commented on #184
Can it be a distinct file in this repository that the build script pulls in? That might make it a little bit more convenient to work with while still keeping all references in a single place.

[2015-05-05 11:20] tobie commented on #184
Absolutely.

The biblio file needs to split up anyway. It's just too big.

[2015-05-05 12:23] tobie commented on #184
Started working on the ref split up here: #187

[2015-05-05 13:05] annevk commented on #184
Here's a list of WHATWG publications in JSON: https://gist.github.com/annevk/4e0b98a8846b8e8cf643

I've started thinking that if I add GitHub and Twitter fields to that perhaps Bikeshed can take over part of the header generation... @domenic @tabatkins WDYT?

[2015-05-05 13:10] domenic commented on #184
@annevk logo too probably. Would still need customization though; e.g. streams wants "Snapshot as of this commit" link. I guess we could hope that I get around to rolling out that process for all specs though.

[2015-05-05 13:14] domenic commented on #184
As for the [[WHATWG-X]] + [[W3C-X]] + pick a default for [[X]], I'd prefer [[X-TR]] + [[X-LS]] or something similar. It's not like we have [[ISO-X]] or [[ECMA-X]].

Also in general I find aliases confusing... Does Bikeshed make sure to convert everyone to a single canonical name first? It'd suck to see some specs reference [[ALIAS1]] and others reference [[ALIAS2]], or worse, both in one spec.

[2015-05-05 13:17] annevk commented on #184
Yeah, we should always allow for customization and omitting data (e.g. Media Session does not have authors at the moment). It seems nice to have all that metadata centrally available though.

[2015-05-06 03:38] shepazu opened #188 "SVG should point to SVG1.1, not SVG1.0"
Currently, the entry for "SVG" points to the SVG 1.0 spec, with "SVG10" as an alias for that.

The content of the "SVG" entry should be moved to "SVG10", and "SVG" should be listed as an alias for "SVG11".

SVG 1.0 should not be referenced by any modern spec; SVG 1.1 is much better defined. SVG 2 will be better defined still

If you agree to this , I can make the changes.

[2015-05-06 06:34] tobie commented on #188
Absolutely. That needs to be handled in the import script, though, as manual changes would be wiped out by the next auto update. Not too sure how to handle it yet, though.

[2015-05-07 15:29] tobie commented on #184
So I've split up `biblio.json` into different files in #187. Now looking at importing WHATWG references in #189.

The aliasing isn't _that_ complicated; an identifier either points directly to the reference object or to another identifier, recursively. All aliases are resolved (there are tests for that) and when you query the API for a reference you always get all the objects necessary to resolve

[2015-05-07 15:35] domenic commented on #184
Thanks for explaining the aliasing. I guess then my hope is simply that @tabatkins has Bikeshed resolve all aliases to their original before putting anything in our documents. (So that i.e. [[HTTP11]] and [[RFC7230]] never show up, but instead we get [[rfc7230]] in all Bikeshed documents.)

[2015-05-07 15:51] tabatkins commented on #184
I don't think that's well-advised; at least, I couldn't do it for the CSS specs, which are a jumble of naming standards and aliasing.  It would be pretty annoying to type in [[css-images-3]] and have it turn into [[css3-images]] (or something, unsure about this exact example).

I do handle aliases in general, though.  They just get filled in with the data of whatever they're aliasing.

[2015-07-01 14:58] tobie commented on #147
Plus all the junk that @darobin added in #196.

[2015-07-01 15:17] darobin commented on #147
Frankly, there are some references to crappy things that we probably don't care if they're in the legacy format, no? I mean, if there comes a day with a use case for converting them, they'll get converted — in the meantime, *shrug* :fried_shrimp:

[2015-07-01 15:19] tobie commented on #147
The _only_ reason I want this removed is that every time I write a script for this I need to special case for unstructured entries.

[2015-07-01 15:22] tobie commented on #147
Also: known tendency towards OCD.

[2015-07-07 12:26] tobie commented on #188
#199 exposes the `obsoletedBy` and `obsoletes` properties in the API itself which should let consumers of the API decide what they want to do in that case.

[2015-07-07 12:26] #188 closed

[2015-07-12 15:47] #59 closed

[2015-07-12 15:48] #182 closed

[2015-07-13 16:52] annevk opened #211 "RFCs <1000 have the wrong links (and names?)"
I don't think RFC791 should become RFC0791 and it should certainly not end up linking to https://tools.ietf.org/html/rfc0791 which ends up doing some expensive search before redirecting (I think).

[2015-07-13 17:10] tobie commented on #211
That's the identification scheme that the source doc uses: http://www.ietf.org/rfc/rfc-index.xml (warning: large XML file) and from which the [links are built](https://github.com/tobie/specref/blob/ed2c7a3/scripts/rfc.js#L37-L39) (as they're not provided in the XML).

I'm fine adding aliases for RFC[unpadded-num] to RFC[padded-num] (or vice-versa) and making all URLs unpadded.

[2015-07-13 17:18] annevk commented on #211
It seems the canonical URLs are all unpadded. I would prefer we adopt that as the canonical pattern, including for identifiers.

[2015-07-13 17:19] tobie commented on #211
WFM

[2015-07-13 18:29] #211 closed

[2015-08-15 09:31] annevk opened #217 "DOM Standard links do not use HTTPS?"
In Bikeshed I used `<a spec=dom>ASCII case-insensitive</a>` and it resulted in a URL that did not use HTTPS.

[2015-08-15 10:05] tobie commented on #217
Yeah, W3C publishes its specs with HTTP URLs and redirects HTTPS to HTTP. What's your suggestion here?

[2015-08-15 10:07] annevk commented on #217
I mean I get links to `http://dom.spec.whatwg.org/` rather than `https://dom.spec.whatwg.org/`. It seems somewhere there is a problem? Not sure about W3C.

[2015-08-15 10:11] annevk commented on #217
See also https://github.com/tabatkins/bikeshed/issues/461.

[2015-08-15 10:18] tobie commented on #217
So in Specref, [DOM] still points to the W3C version which it'll continue doing until I actually fix #184. If you want to force the WHATWG version use: [WHATWG-DOM].

It looks like bikeshed is somehow aliasing [DOM] to [DOM-LS] and holds an [incorrect reference](https://github.com/tabatkins/bikeshed/blob/ff608218bc3f691cb4b7156437164068b8cd086d/bikeshed/spec-data/readonly/specs.json#L358) to the l

[2015-08-15 10:18] #217 closed

[2015-08-15 10:26] annevk commented on #217
Thank you @tobie.

[2015-12-05 04:08] cvrebert opened #228 "Touch Events Level 2 is missing?"
Based on https://specref.herokuapp.com/search-refs?q=Touch%20Events and some grepping, there doesn't seem to be an entry for Touch Events Level 2 (https://w3c.github.io/touch-events/) in the DB.

[2015-12-08 10:59] tobie commented on #228
http://dvcs.w3.org/hg/webevents/raw-file/v1/touchevents.html redirects to https://w3c.github.io/touch-events/, so linking to [touch-events] will have the right ED.

I agree there should be a clearer transition path, but pretty much every spec which has multiple levels is coming up with its own strategy there so it's hard to find a consistant solution.

For future ref, it's easier to look things up

[2015-12-08 10:59] #228 closed

[2016-01-09 01:19] jyasskin opened #231 "https://specref.jit.su/bibrefs returns 502"
This causes `bikeshed update` to fail with "Couldn't download the biblio data." @tabatkins

[2016-01-09 08:12] tobie commented on #231
Fixed in tabatkins/bikeshed#550. Apologies for the outage.

[2016-01-09 08:12] #231 closed

[2016-02-29 01:08] marcoscaceres opened #239 "TLS for www.specref.org & api.specref.org"
Would be awesome if we made specref.org secure.

[2016-02-29 06:41] tobie commented on #239
Yeah. Figuring out how to do that on heroku, without paying $25/month is a bit complicated.

We'd need to secure both api.specref.org for the API and www.specref.org.

[2016-02-29 06:52] annevk commented on #239
From https://sikac.hu/use-let-s-encrypt-tls-certificate-on-heroku-65f853870d90 it seems you need to pay unless you use CloudFlare, which is a bit of a hack.

[2016-02-29 09:25] tobie opened #241 "Document entry format"
The entry format is documented using [JSON schema](https://github.com/tobie/specref/blob/master/schemas/raw-reference.json).

I would be great to generate doc from the schema. Unfortunately, either the tools to do so are terrible or there small issues with Specref's schemas that make it difficult to use.
- [ ] check that Specref's schemas are JSON-schema-compliant.
- [ ] fix them if not.
- [ ] che

[2016-02-29 09:25] tobie commented on #241
/cc @tabatkins

[2016-02-29 13:49] halindrome commented on #239
I have free hosting on dreamhost.  Not sure if it would handle the specref
stuff, but I would be happy to host the domain there if you like.  And it
has free TLS.

On Mon, Feb 29, 2016 at 12:52 AM, Anne van Kesteren <
notifications@github.com> wrote:

--
Shane McCarron
halindrome@gmail.com

[2016-02-29 13:53] tobie commented on #239
Yeah, getting a cert for specref.org isn't the issue. Getting the certificate for the subdomain that would point to heroku app is.

[2016-02-29 13:55] halindrome commented on #239
Okay - well, let me know if I can help.  We have budget for stuff like this.

On Mon, Feb 29, 2016 at 7:53 AM, Tobie Langel <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2016-02-29 13:57] tobie commented on #239
Well, I guess the cheapest option is just to pay for the heroku's $20/mo fee for TLS in that case. No?

[2016-02-29 14:02] halindrome commented on #239
Certainly in the short term.  Longer term there must be a way to get it for
free, but who has the time to figure that out? Happy to do it.  Contact me
directly via shane at spec-ops.io okay?

On Mon, Feb 29, 2016 at 7:57 AM, Tobie Langel <notifications@github.com>
wrote:

--
Shane McCarron
halindrome@gmail.com

[2016-02-29 14:05] tobie commented on #239
Sent.

[2016-03-03 22:47] tobie commented on #184
Looked into this again today, and it's really complicated. Don't expect a quick resolution, here. Apologies. :(

[2016-03-03 23:38] marcoscaceres commented on #184
Can I help? Can you explain a little bit more what needs to be done?

Sent from my iPhone

[2016-03-03 23:47] tobie commented on #184
Well, we'd like a system that's either manual or automated that let's us handle cases where specs were handled by the W3C but are now handled by WHATWG (that's the current issues, but a generalization of the problem would be better).

Problems:

1. This needs to be a manual process as most W3C specs don't advertise themselves as retired. Actually, only [FULLSCREEN] does atm. There might be other w

[2016-03-04 16:27] annevk commented on #184
FWIW, the dated reference in DOM don't actually work. https://dom.spec.whatwg.org/#biblio-uievents-20031107 has the wrong authors, the wrong title and URL, and the correct date and state. It's basically useless and I'm thinking of removing the Goals section since the Goals are accomplished.

[2016-03-04 16:54] tobie commented on #184
Yeah, I had to scrounge for this data and what I was given was incomplete. I think manually fixing those in `refs/w3c.json` should work and should not be overwritten. I'll look into it.

[2016-03-04 16:58] annevk commented on #184
Don't worry about it. If folks really care they can go through DOM's commit history. Now all those standards are accepted as obsolete it doesn't really matter anymore.

[2016-03-15 23:31] tabatkins commented on #241
I've boiled down your schema into an abbreviated form for my own purposes, in case it helps :+1:

[code]

(This is now stored alongside my SpecRef-parsing function.)

[2016-03-15 23:34] tobie commented on #241
That's neat! Might try to reuse it. Note it's the output format, not the input one.

[2016-03-15 23:54] tabatkins commented on #241
Yeah, that's the format I care about, both as a *consumer* of SpecRef data, and a *producer* of SpecRef PRs.  You only care about the input format for the purpose of consuming the W3C's data, right?

[2016-03-16 00:00] tobie commented on #241
Well, not really. You need to understand the input format for contributions beyond the simplest of cases.

[2016-03-17 16:45] domenic opened #252 "[META-THEME-COLOR] should become some sort of alias of [HTML]?"
See https://github.com/whatwg/meta-theme-color

Not sure what the best procedure is here. It seems weird to make it a pure alias since then bibliographies will say things like "[META-THEME-COLOR]. HTML. Living Standard. https://html.spec.whatwg.org/multipage/." Maybe delete it and make everyone fix their breakages?

See also https://github.com/w3c/manifest/issues/431.

[2016-03-17 17:08] tobie commented on #252
I think the right way to proceed would be to add "[obsoletedBy](https://github.com/tobie/specref/blob/master/schemas/raw-reference.json#L202-L205)": ["HTML"] to the to the META-THEME-COLOR entry.

This let's the tools warn editors appropriately (nudge @tabatkins, @halindrome, @marcoscaceres).

This can be done either in the [WHATWG resource file](https://resources.whatwg.org/biblio.json) or in the

[2016-03-17 19:35] domenic commented on #252
Specref sounds better, since that way we can keep the WHATWG resources file to only contain specs.

[2016-03-17 19:45] #252 closed

[2016-03-17 19:59] tobie commented on #252
http://www.specref.org/?q=meta-theme-color

[2016-03-18 22:58] tabatkins commented on #252
I don't handle obsoletes/obsoletedBy yet, but I've added [an issue for it](https://github.com/tabatkins/bikeshed/issues/635).

(Are the two guaranteed to be mirrors of each other?)

[2016-03-18 23:07] tobie commented on #252
No. I'm not checking this data.

[2016-03-20 16:51] tobie opened #257 "Fix deliveredBy"
`deliveredBy` is kind of weird. Needs fixing.

/cc @sbaechler

[2016-03-24 15:33] takenspc opened #263 "Please specify license information"
https://github.com/tobie/specref states specref is 'An open-source, community-maintained database'.
However I am unable to find license information so that it is hard to reuse specref code and/or data.

https://help.github.com/articles/open-source-licensing/#what-happens-if-i-dont-choose-a-license

I would like to use this great data, please specify license information. Or please let me know if th

[2016-03-24 17:17] tabatkins commented on #263
I Am Not A Copyright Lawyer, but as this is a database of facts (names/etc of publications), the contents are not actually copyrightable in several countries, including the US.  The organization of the data also likely doesn't constitute a creative exercise (it's trivial and straightforward), so it's likely not protected either.  However, EU law is a bit different, and they do protect "databases"

[2016-03-24 17:22] tobie commented on #263
From Standford's [Copyright and Fair Use Overview](http://fairuse.stanford.edu/overview/public-domain/trouble-spots/#compilations).

Thus planning to release the data as CC0 and code as Apache 2.0.

[2016-03-24 17:32] tabatkins commented on #263
That's discussing a collection of information with creative intent put into the organization; compiling a book of quotations involves choosing which quotations to include, their arrangement in the book, etc. That's a creative work even if you don't write a word of it yourself, same as making art from newspaper clippings.

In at least some countries (like the US), this is distinguished from databas

[2016-03-24 17:52] #263 closed

[2016-04-11 17:24] RByers opened #266 "Can / should WICG specs gets added automatically?"
Increasingly new APIs are being specified first in the W3C [WICG](https://github.com/wicg).  I was going to submit a PR to add a couple APIs that are shipping in Chrome (eg. [Intersection Observer](https://github.com/wicg) and [InputDeviceCapabilities](http://wicg.github.io/InputDeviceCapabilities/), but realized it may be better to try to handle this automatically if possible.

[2016-04-11 17:27] tobie commented on #266
I <3 automation. What about you just release a JSON file like WHATWG does that I can pole every hour.

[2016-04-11 17:29] RByers commented on #266
Ah, I wasn't sure where you got the list - a JSON file makes sense. At the moment I don't think the WICG maintains a list of all it's specs, but perhaps it should. @yoavweiss WDYT, could something (automated or if necessary manual) in the WICG process result in a new specs getting added to a list somewhere that we serve up as JSON for use cases like specref?

[2016-04-11 17:31] RByers commented on #266
FWIW it looks like WEB-BACKGROUND-SYNC is the only WICG spec currently in the database.

[2016-04-11 17:32] tobie commented on #266
Anything else is fine btw. I could poll GH's API or what not. I don't really care as long as you tell me what it is and abide by it.

[2016-04-11 17:43] RByers commented on #266
Thanks.  The main probably is that I don't think there's consistency between different WICG repos (some don't even have specs).  So I think this is really a question for the WICG chairs @yaovweiss and @cwilso.

For example, perhaps the WICG should just encourage everyone to publish specs as index.thml, and you could just look for every WICG repo with an index.html file.  Alternately every WICG rep

[2016-04-11 17:46] tobie commented on #266
Whatever solution has to be maintenance free on this side. I'd also rather face to avoid parsing HTML.

[2016-04-11 17:52] cwilso commented on #266
Hmm.  Could be managed with a JSON index in the WICG/admin repo, yes?  Tobie, can you point me at the WHATWG one as an example?

[2016-04-11 18:00] tobie commented on #266
- [WHATWG data](https://resources.whatwg.org/biblio.json)
- [WHATWG import script](https://github.com/tobie/specref/blob/master/scripts/whatwg.js)

[2016-04-11 18:17] tobie commented on #266
Yup, it was added here: #234.

[2016-04-19 08:06] tobie commented on #266
Your move, folks. ;)

[2016-04-24 16:14] AxelNennker opened #273 "Pull external infos about specs from secure sources"
Replace value of RDF_FILE here
https://github.com/tobie/specref/blob/master/scripts/rdf.js#L9
by the https URL:
https://www.w3.org/2002/01/tr-automation/tr.rdf

Consider whether isGeneratedBy needs to be updated too:
https://github.com/tobie/specref/blob/master/scripts/rdf.js#L311

[2016-04-24 16:21] AxelNennker opened #274 "use https://www.w3.org/ where possible"
@w3c updated their infrastructure to https and future references to w3c specs should use https-URLs.

While some of the changes to https might in the future come from an updated https://www.w3.org/2002/01/tr-automation/tr.rdf some APIs of specref might need to be updated to treat https and http URLs as the same.
E.g. http://www.w3.org/TR/2015/WD-FileAPI-20150421/ redirects to https://www.w3.org/TR

[2016-04-24 16:26] tobie commented on #273
WFM. PR welcomed. Please do fix `isGeneratedBy` when you do.

[2016-04-24 16:27] tobie commented on #274
Agreed. We want to both fix the import script **and** run a script to update existing references.

[2016-04-29 08:56] AxelNennker commented on #274
W3 plans to change the contents of tr.rdf in June.
I suggest to wait for that to have happened and then look for what might still need to be done here e.g. small things like update the examples in readme.md and bigger changes like updating scripts.

[2016-04-29 09:55] tobie commented on #273
Closed by #276

[2016-04-29 09:55] #273 closed

[2016-05-09 16:22] plehegar commented on #274
We're delayed for the June switch. Shooting at July now. Here is the proposal:
  https://lists.w3.org/Archives/Public/spec-prod/2016AprJun/0024.html

@tobie , please let us know if the change in tr.rdf could break things on your side.

[2016-05-09 16:42] tobie commented on #274
@plehegar: Yes, this change seems like it could wreck havoc. Especially the http to https aliasing. I'll need to test this stuff out and adjust scripts. Is it possible for you to have the new tr.rdf staged somewhere so I have time to conduct those tests and transition without breaking stuff?

[2016-05-11 19:19] #266 closed

[2016-05-17 18:54] paulbrucecotton opened #282 "Newer ISOBMFF reference is available"
See EME [ISSUE-148](https://github.com/w3c/encrypted-media/issues/148).

Please update the [specref](https://github.com/tobie/specref) reference for ISOBMFF to the following:

[ISOBMFF]
ISO/IEC 14496–12, Information technology — Coding of audio-visual objects — Part 12: ISO Base Media File Format. International Standard. URL: http://standards.iso.org/ittf/PubliclyAvailableStandards/c068960_ISO_IEC

[2016-05-17 19:19] #282 closed

[2016-06-20 17:18] tobie commented on #274
Trying a brute force solution with #286. Let's hope I don't have to roll it back.

[2016-06-20 17:18] #274 closed

[2016-07-18 08:15] mikewest opened #291 "WebIDL 2."
As @domenic noted in w3c/webappsec-secure-contexts#33, WebIDL maps to WebIDL-1, which has a title of "Web IDL Level 1". I'd actually like to be referencing https://heycam.github.io/webidl/, which is "Web IDL (Second Edition)". Tab pointed me here in https://github.com/tabatkins/bikeshed/issues/750... WDYT, @tobie?

[2016-07-18 10:08] tobie commented on #291
@domenic, @mikewest, @tabatkins: wdyt about #292 as a temporary fix to the is problem?

[2016-07-18 10:35] mikewest commented on #291
LGTM, thanks!

On Monday, 18 July 2016, Tobie Langel <notifications@github.com> wrote:

[2016-07-18 10:40] #291 closed

[2016-07-18 16:55] domenic commented on #291
Seems a bit unfortunate given how we have a history of these sort of temporary fixes turning into long term fixes with specref, but better than nothing I guess :-/

[2016-07-18 19:04] tobie commented on #291
Yeah. We need a generic way to overwrite stuff.

[2016-10-27 20:03] domenic opened #304 "Web IDL has the wrong title?"
In https://github.com/tabatkins/bikeshed/issues/837 it is claimed that the reason Bikeshed is outputting "Web IDL Level 1" for https://heycam.github.io/webidl/ is

So I guess maybe this is a specref issue?

[2016-10-27 20:09] tobie commented on #304
So this is a W3C issue with leveled specs which I've engaged with @deniac to try and solve in a consistent way. There's things I can do manually in specref on a case per case basis. I'll do so here.

[2016-10-27 23:04] equalsJeffH opened #305 "add 'FIPS-186-4'"
bikeshed just told me:
[code]
FIPS-186-4 is here: http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-4.pdf

[2016-10-27 23:10] tobie commented on #305
References are pretty easy to add: https://github.com/tobie/specref#manual-changes

You could just add it below the [FIPS-180-4](https://github.com/tobie/specref/blob/ee2359a/refs/biblio.json#L993-L997) reference.

[2016-10-28 01:07] #304 closed

[2016-10-28 22:45] equalsJeffH commented on #305
was unable to submit patch right away, so sub'd issue so I/we wouldn't fergetabboudit.

[2016-10-28 22:49] #305 closed

[2016-11-15 04:38] domenic opened #308 "Service workers is missing, only service workers v1 is present"
That is, the URL https://w3c.github.io/ServiceWorker/ does not appear in the database at all, only https://w3c.github.io/ServiceWorker/v1 and some TR counterparts. Seems bad...

[2016-11-15 05:50] tobie commented on #308
Mmm. Per-level EDs?

[2016-11-15 05:51] domenic commented on #308
I guess so :(

[2016-11-15 11:10] tobie commented on #308
@jungkees, @jakearchibald, @slightlyoff: what's the difference between your V1 and Nightly ED? Which one should we use? Also what *is* a Nightly ED?

[2016-11-16 05:35] jungkees commented on #308
https://w3c.github.io/ServiceWorker/v1 is an ED branch for Service Workers 1 spec that we're moving to REC. Nightly is basically a living branch. We're trying to publish a FPWD of Service Workers 2 (that has new WIP features such as foreign fetch, navigation preload, link type "serviceworker", and so on) soon too.

@tobie, I was not familiar with this project but found bikeshed is already using th

[2016-11-16 08:50] tobie commented on #308
Thanks for the explanation @jungkees. Will fix manually here. Addressed the more general issue on spec-prod@: https://lists.w3.org/Archives/Public/spec-prod/2016OctDec/0015.html. W3C needs to define a structure for this imho. Currently it's a mess.

[2016-11-16 09:15] #308 closed

[2016-11-17 10:06] tobie opened #310 "Fix broken WG21 entries"
Some author / date mixup popping up again.

Manually fixed those in [./overwrites/wg21.json](https://github.com/tobie/specref/blob/master/overwrites/wg21.json).

Would be great if those could be fixed upstream, but no idea how to report that.

/cc @m-ou-se @jyasskin

[2016-11-17 10:25] m-ou-se commented on #310
This time it isn't wg21.link that's scraping incorrectly, but the source itself (cwg_active.html) is actually incorrect:

    Submitter: 2016-01-04     Date: Richard Smith

[2016-11-17 10:37] m-ou-se commented on #310
I updated wg21.link to use the public cwg files again (http://www.open-std.org/jtc1/sc22/wg21/docs/cwg_active.html etc.), which do not (yet) contain this error.

[2016-11-17 11:19] tobie commented on #310
Neat. Send a PR my way if you want me to remove the content added to overwrites/wg21.json.

[2017-01-03 02:46] marcoscaceres opened #316 "Bring back xref support?"
Can bring back xref support? any reason why it was ripped out?

[2017-01-03 02:53] marcoscaceres opened #317 "Better cache indicators"
Would it be possible to put in expires information into the responses? This would make ReSpec much faster, as I wouldn't need to hit the network as often.

Additionally, I want to use the expires information to know if I should update a local database with references.

Nice to have: it would be nice if the data for a particular request hasn't been updated, then 304. However, understand that that i

[2017-01-03 07:30] tobie commented on #316
I just have no idea how to keep its data up to date. I also didn't know that anyone was using it.

[2017-01-03 07:32] tobie commented on #316
I mean, I ripped it out in March last year and no one complained until now. :)

[2017-01-03 07:40] tobie commented on #317
Sure. What caching strategy would you recommend?

That makes sense though you can already get this information via GH's API: https://api.github.com/repos/tobie/specref/commits?path=refs&per_page=1

Yeah, that seems non-trivial to setup with the current in memory db system we have. Might be easier to consider migrating the data to a real DB, but then there's a whole bunch of things you need to cons

[2017-01-03 09:00] marcoscaceres commented on #317
I was thinking that we could just set it based on Expires: every 24 hours.

Ah, that could definitely work (`commit.date`)! It's a little bit of indirection, but can live with it.

I guess there is no backwards compatible way of adding the above metadata directly into the response file.

Alternatively, I could get specref to get the above resource, pull out the `commit.date`, and serve it as a the

[2017-01-03 09:06] marcoscaceres commented on #317
@tobie, so, reading a bit... it seems like we can just:

[code]

That seems to work for me locally: returning 304s!

[2017-01-03 09:40] #317 closed

[2017-01-05 23:09] tabatkins commented on #316
It was "maintained" by people periodically manually regenning the files from the WHATWG specs that generated them. It wasn't very good.

Now that WHATWG is converted over to Bikeshed, using the BS database is a better method.

[2017-01-05 23:13] tobie commented on #316
Well, it hadn't be modified since [May 16, 2013](https://github.com/tobie/specref/commits/8268cddad409d7172511783ea26474dc29f3b7ed/xrefs.json), so the quotes are perfectly appropriate.

[2017-01-06 01:43] marcoscaceres commented on #316
@tabatkins, I'd like to expose the BS database through Specref. Is available as JSON or a real DB that node can interact with?

@tobie, yeah... only now getting around to adding support in ReSpec. Vacation project.

[2017-01-06 01:51] tabatkins commented on #316
Yeah, Bikeshed gets it all from Shepherd as JSON, and just massages it into a format that's slimmer and faster to parse. Check out <https://github.com/tabatkins/bikeshed/blob/master/bikeshed/update.py> for how I use it.

[2017-01-06 02:40] marcoscaceres commented on #316
ah, ok... so I can just go directly through "https://api.csswg.org/shepherd/".

[2017-01-06 02:44] marcoscaceres commented on #316
@tabatkins, sorry, can you give me one URL example? The documentation produced at  https://api.csswg.org/shepherd/ doesn't make much sense to me :(

[2017-01-06 02:44] marcoscaceres commented on #316
Argh, sorry... never mind... it was right there.

[2017-01-06 02:44] #316 closed

[2017-01-06 02:45] marcoscaceres commented on #316
(https://api.csswg.org/shepherd/spec/?spec=css-flexbox-1&anchors&draft)

[2017-01-06 02:51] marcoscaceres commented on #316
@tabatkins, sorry, one last silly question... any way to get Shepherd to not prefix "var response = "?

[2017-01-06 06:19] marcoscaceres opened #320 "Support xrefs via Shepherd"
Ok, so I had look at the output from Shepherd... unfortunately, the API is not very customizable, leading to massive downloads. For example the HTML spec is 1MB of JSON... and DOM is 400Kb. It's too much to send down to the client (specially phones)... so, what would be great would be to bring in data for known specs into spec ref, then allow smarter queries like:

[code]

And get back just the xr

[2017-01-06 06:20] marcoscaceres commented on #320
Alternatively, Shepherd could support the above... but I have no idea who/where it is maintained, if it's on github, what language it's written in, etc.

[2017-01-06 06:21] marcoscaceres commented on #320
@tabatkins would this be of interest to you for BikeShed at all?

[2017-01-06 20:50] tabatkins commented on #316
I suspect it has to do with sending the right Accept header (`application/json`), and by default it sends a JS file rather than JSON.

(It didn't used to do this, so I'm bugging @plinss about it.)

[2017-01-06 20:59] tabatkins commented on #320
No, Shepherd's current design (just send all the information down) is ideal for Bikeshed, as it creates and uses a full database of its own offline.  I very intentionally designed Bikeshed to not require any network traffic when processing (unless you use one of the optional features that require it).

I'm not sure that getting Bikeshed-equivalent linking out of Shepherd is really possible, withou

[2017-01-06 21:04] plinss commented on #316
Yes, the response type is based on the Accept header. I can change that if it's problematic to set.

FWIW, using an Accept of application/json on the api home url gets you a json-home page, see: http://tools.ietf.org/html/draft-nottingham-json-home-03
and https://github.com/plinss/apiclient for an example of how to use it (python), I also have urltemplate handling code in js at https://apidemo.w3c

[2017-01-07 02:36] marcoscaceres commented on #320
Oh! Them's fighting words, Tab. No one questions the honour of my beloved JS!

Now i have to do it! 😎

But seriously, if the web platform can't do it - then that's an opportunity to fix stuff in the platform. I'm maybe being overly optimistic, but I can't see anything in Shepherd's output that would prevent this from working in JS.

[2017-01-08 05:05] marcoscaceres commented on #316
Great! Thanks for the clarification, @plinss

[2017-01-08 17:41] dontcallmedom opened #321 "WebIDL-1 reported as WD"
WebIDL-1 was published as a Rec, but specref reports it as Rec - raising this as an issue since there is probably a problem in the synchronization with TR data.

[2017-01-08 18:57] tobie commented on #321
Yeah, WebIDL-1 redirects to WebIDL as of https://github.com/tobie/specref/commit/ee2359a73615fa96faafee17a79aab1b58a08aa8.

This is tied to the conversation about leveled specs lead by @deniak.

What's the use-case for linking to WebIDL-1?

[2017-01-09 18:23] tidoust commented on #321
There seems to be two issues in one.

The first issue is that the status reported by specref for WebIDL is incorrect: Specref says the document published on 15 December 2016 at https://www.w3.org/TR/WebIDL-1/ is a WD, whereas it is a REC. Shouldn't [WebIDL] report the same info as [WebIDL-20161215], the latest published spec?
http://www.specref.org/?q=webidl-20161215

The second issue is the abili

[2017-01-10 18:41] #321 closed

[2017-01-11 11:36] deniak commented on #321
Just to clarify, [the current proposal](https://w3c.github.io/tr-links/versioning/) actually has 3 options and we haven't decided yet whether /TR/shortname should point to the latest level or the most stable version.

Regarding WebIDL, I think there's a small problem. I confirmed with @ylafon and at some point, there was a shortname change from webidl to webidl-1 (see [WebIDL-1 history](https://ww

[2017-01-11 14:11] tobie commented on #321
@deniak this is precisely why it's key to come up with a consistant story for spec levels and enforce it. Levels should be tags in Git parlance (branches when you need to run things in parallel for a little while). WD's and the like should just be tags along the way.

There _is_ something weird going on with WebIDL, though, as `/TR/WebIDL-1` points to the December 15, 2016 Rec, and `/TR/WebIDL` po

[2017-01-11 16:59] deniak commented on #321
@tobie it should now be fixed. As per @ylafon's request, /TR/WebIDL now redirects (HTTP 307) to /TR/WebIDL-1

[2017-01-11 20:12] ylafon commented on #321
Note that it was a request from the chairs until we figure out what to do with /TR/WebIDL (and have the edcopy published as WDs).
Note the use of a temporary redirect so that we can change what it redirects to (i.e.: no hard choices were made)

[2017-01-17 01:32] marcoscaceres opened #325 "Improve caching a bit more"
Emailed with mnot briefly, he suggested:

"You can drop Expires and just do CC: max-age."

I'm wondering if we could play with extending the cache duration for up to a week? If it's still going to revalidate against the hashed content (via etag), then it should be fairly safe to extend to a week.

Anyone have opinions?

[2017-01-18 10:18] tobie commented on #325
Can you explain what that would change?

[2017-01-18 15:36] darobin commented on #325
Sending both `Expires` and `Cache-Control: max-age` shouldn't be necessary unless you intend to target old HTTP/1.0 clients. You can drop the former.

My understanding is that if you have an ETag then you can use expiration dates farther in the future, because the client will use `If-Match` to which you can respond with a 304, whereas after the expiration time it will make an unconditional request

[2017-01-18 16:34] tobie commented on #325
Oh, so we hit the server everytime no matter what?

[2017-01-26 00:03] tabatkins commented on #320
It's nothing to do with the web platform, it's to do with the economics.  Bikeshed's linking database is large - in my relatively compact specialty format it's 3Mb; in JSON it's some constant factor larger.  You need the whole DB to autolink properly, but you can't ship that over the wire for "live" ReSpec.  If we could pretend that nobody actually deployed live ReSpec, you could just fetch it on

[2017-01-26 00:07] tobie commented on #320
I haven't looked at the data, but couldn't something similar to what is done for biblio refs be organized? i.e. gather all x-refs, just request those from the API?

[2017-01-26 00:16] tabatkins commented on #320
Yeah, but that returns a lot of data potentially.  Unlike biblio refs, where the request info is a unique key that identifies a single resource, in autolinking the linking text often maps to a bunch of different keys.  It's a lot more network chatter than should be necessary, and just makes the problems with live-published ReSpec even worse.

[2017-01-27 19:50] darobin commented on #325
You're probably not going to hit the server every time. But sometimes you are. The behaviour on reload for instance (and spec dev is all about the reloads) is browser-dependent. You're going to get `If-Match` requests _after_ the cache expiration time too; it's not a bad idea to honour them if it's cheap enough for you.

[2017-01-31 07:17] marcoscaceres commented on #320
I'm interested in doing exactly that tho. Yes, it's going to be a big undertaking, so I'll need to see if it's worth it (i.e., number of specs using ReSpec, and if the number is constant, declining, or growing).

Once the right xrefs get cached locally tho it should be fine, then those can be incrementally updated in the spec's db.

[2017-02-23 12:27] #184 closed

[2017-03-21 16:06] tobie commented on #239
Now a one-click install: https://blog.heroku.com/announcing-automated-certificate-management

[2017-03-29 15:21] edent opened #340 "Upgrade links to HTTPS"
There are several links in `biblio.json` which don't use `https` where available.

Is it OK for me to go in an change [links like this](https://github.com/tobie/specref/blob/master/refs/biblio.json#L1675) to point to `https` sources where appropriate?

Or do I need to change them in a specific location and regenerate them? Or have I missed the point entirely? :-)

(Was originally https://github.co

[2017-03-29 15:35] tobie commented on #340
You can manually change references that are in biblio.js and legacy.js, for the rest, it's a bit more complicated.

[2017-03-29 19:45] tobie opened #342 "Certain links in biblio.js 404"
As reported by @edent in #341, the following all 404 on both `http` and `https` versions:

* http://www.ce.org/Standards/browseByCommittee_2757.asp
* http://www.ce.org/Standards/Standard-Listings/R4-3-Television-Data-Systems-Subcommittee/CEA-708-D.aspx
* http://www.jpeg.org/cd15444-1.pdf

[2017-03-29 20:26] edent commented on #342
Here are some others which are also broken.  There may be more - but hidden behind redirects.

## 401

* https://www.w3.org/Style/Group/css3-src/css3-positioning/Overview.html

Needs authorisation (which I have). Says it should be https://www.w3.org/TR/css-position-3/

## 404

* http://www.signelec.com/content/download/digital_signature_guidelines.pdf
* http://grail.cs.washington.edu/pub/papers/Ja

[2017-03-29 20:28] #340 closed

[2017-04-01 18:04] MichielBijl commented on #239
Happy to see this is being worked on :).

[2017-04-01 19:12] tobie commented on #239
Yeah, so the API sits behind a cert, now. The doc website, I'll wait for GitHub to follow through.

[2017-04-02 15:22] #342 closed

[2017-04-04 04:24] marcoscaceres opened #344 "HTML pointing to multipage"
At some point, HTML started pointing to "multipage":
https://html.spec.whatwg.org/multipage

This breaks all specs that were using fragment identifiers pointing back to HTML :( It also makes it really annoying, because now one needs to know in which "page" each concept or interface is defined (and makes referencing awkward and unique for this one spec - no other spec relies on multipage!).

Could

[2017-04-04 05:05] marcoscaceres commented on #344
NM, @domenic just showed me the magic 🎩🐇😲 ...

[2017-04-04 05:05] #344 closed

[2017-04-04 23:23] tabatkins commented on #239
Jeezus jumping christ, this isn't your fault, it's Python's, but for anyone stuck on Python 2.7.6 (such as anyone running Ubuntu Trusty, like all Google employees do by default), the biblio update step no longer works.  2.7.6's urllib2 implementation doesn't understand the SNI feature of TLS, which I assume you're using here. :(

[2017-04-05 06:02] tobie commented on #239
@tabatkins just revert https://github.com/tabatkins/bikeshed/commit/11d433fa8527de0d1aa96f0921a5a902368ea172. The previous URL still works.

[2017-04-05 17:51] frivoal opened #347 "UAX21 and UAX27 need updating — but how?"
The UAX21 and UAX27 entries are out of date. Not only are there later incarnations of the same documents, but also these documents have eventually been discontinued and their content merged to an other spec (Core Specification of the Unicode Standard). What should we do?

It makes sense to me to:
1. Update them to the latest standalone version
2. add an `obsoletedBy` key to point to the document t

[2017-04-05 18:54] tabatkins commented on #239
Oh! I assumed you were deprecating that URL. I'll change it back, thanks!

(Instead, I was planning with @plinss to proxy the URL thru csswg.org, who doesn't use SNI and can still be connected to on old Pythons.)

[2017-04-05 18:56] tabatkins commented on #239
Oh, and note that <https://specref.org> has a bad cert.  (<https://api.specref.org> seems fine.)

[2017-04-05 20:17] tobie commented on #239
The idea's simply to abstract the URL away from the hosting provider, so we're free to change provider should the need arise. No plan to do so for now, so using the previous link should buy you quite some time for now.

Afaik, it has no cert. It's hosted by GitHub pages which doesn't yet support https for custom domains.

[2017-04-05 20:23] tobie commented on #347
IMHO, `obsoletedBy` only makes sense in cases where there's ambiguity as to which spec we now want to reference. In cases where it's obvious what new spec to use instead, maybe aliasing is the better option. What do you think? /cc @tabatkins, @marcoscaceres

[2017-04-05 20:42] tabatkins commented on #347
Aliasing might be sufficient, but in general it's often too strong - it means that no one can ever refer to the older version, even if they very intentionally want to.  (For example, to compare and contrast an older document with a newer one.)

My plan is to throw an error by default when you have an obsolete biblio ref, letting you know what you should be linking to, but give some syntax for supp

[2017-04-05 21:05] tobie commented on #347
Agreed.

I didn't know you were planning to add syntax to suppress the error. That makes the distinction between obsolescence and aliasing worthwhile. So WFM.

Heads up that `obsoletedBy` returns an array of identifiers. Adding a few tests right now to see if we can provide some guarantees about the references these identifiers point to like we can with `aliasOf`.

[2017-04-07 21:38] MichielBijl commented on #239
@tobie you could set up CloudFlare, which wouldn’t get you end-to-end encryption, but still something rather than nothing.

[2017-04-08 07:12] tobie commented on #239
@MichielBijl yeah. I probably could do that. :)

[2017-04-10 09:35] tobie commented on #347
Guarantees added. See: [README](https://github.com/tobie/specref/blob/master/README.md#obsoleted-references).

[2017-04-12 00:00] tabatkins commented on #347
And Bikeshed now tracks and follows `obsoletes`/`obsoletedBy` data; using an obsolete biblio ref is a fatal error that tells you what to replace it with (following aliases/obsoletedBy transitively).

By the way, the following refs are marked as being obsolete, but the thing they claim should obsolete them doesn't exist in the db:

* nic15392
* ien115
* ien119
* nic15390
* ien123
* ien133
* nic1864

[2017-04-12 00:01] tobie commented on #347
Wow. That is weird and should have been caught by the the test suite. Need to dig into this to find what the problem is.

[2017-04-12 21:48] domenic opened #349 "Please add payment handler API"
https://w3c.github.io/webpayments-payment-apps-api/

[2017-04-13 09:27] tobie commented on #349
Is "payment-apps" the shortname it's going to go by or will that change? There's a note about this, but it's not super clear whether it applies to this shortname or a possible previous one.

[2017-04-13 20:36] domenic commented on #349
Um, I dunno, I just want to reference it. @ianbjacobs maybe knows?

[2017-04-13 22:42] ianbjacobs commented on #349
Hi all,

I think the shortname is likely to change given that the title has changed.
We will know for sure within 2 weeks (I am hoping) when we request to go to FPWD.
Can we leave this open until then? (And in the meantime, the current URL is
https://w3c.github.io/webpayments-payment-apps-api/ )

Ian

[2017-04-14 06:24] frivoal opened #352 "Incorrect obsolete ref"
As reported by @tabatkins, extracted from https://github.com/tobie/specref/issues/347#issuecomment-293434102

----

the following refs are marked as being obsolete, but the thing they claim should obsolete them doesn't exist in the db:

    nic15392
    ien115
    ien119
    nic15390
    ien123
    ien133
    nic18640
    nic15389
    nic16238
    nic16239

----

@tobie had [replied](https://githu

[2017-04-14 06:25] frivoal commented on #347
Opened a [new issue](https://github.com/tobie/specref/issues/352) to follow up on https://github.com/tobie/specref/issues/347#issuecomment-293434102, which is a separate problem.

[2017-04-14 06:39] #347 closed

[2017-05-03 15:20] tobie commented on #349
Looks like this is now: https://w3c.github.io/webpayments-payment-handler/

[2017-05-03 15:22] ianbjacobs commented on #349
Yes.

(We will also have a TR link soon ...but not yet. But you may not need that.)

Thanks!

Ian

[2017-05-26 23:13] domenic opened #358 "Please add RFC 8174"
https://tools.ietf.org/html/rfc8174

I thought RFCs were auto-imported, but maybe not?

(This is for https://github.com/whatwg/infra/issues/133)

[2017-05-26 23:15] tobie commented on #358
It's there: http://www.specref.org/?q=rfc8174

[2017-05-26 23:15] domenic commented on #358
Oh, gotta update my local Bikeshed, nevermind -_-

[2017-05-26 23:15] #358 closed

[2017-05-28 06:20] marcoscaceres commented on #349
Added automagiclaly now that it's FWPD.
http://www.specref.org/?q=payment-handler

[2017-05-28 06:20] #349 closed

[2017-08-04 04:31] strugee opened #372 "rel- microformats specs"
I missed all the specs in http://microformats.org/wiki/Main_Page#rel_microformats when doing #370; I should go back and do another pass.

[2017-09-16 14:34] foolip opened #382 "Fix *.idea.whatwg.org URLs, and automate discovery?"
refs/whatwg.json has https://books.spec.whatwg.org/ and https://figures.spec.whatwg.org/ but these now redirect to *.idea.whatwg.org.

Given commit 932cfb575be6f69301b828b60f446366ecb34af9 it looks like there is automation for WHATWG updates, but does it discover new specs? How should we teach it about *.idea.whatwg.org? The status should be "Living Idea".

@tobie @domenic

[2017-09-16 14:34] foolip commented on #382
I'm not submitting a PR for this, because once automated it should handle moving between spec and idea.

[2017-09-16 14:35] foolip commented on #382
Hmm, wait, I see https://resources.whatwg.org/biblio.json is the source. @annevk @domenic, do we maintain that by hand?

[2017-09-16 17:02] annevk commented on #382
Yes, that is maintained by hand at the moment. But any changes there should be picked up by the tooling.

[2017-09-16 17:18] foolip commented on #382
OK, I'll try changing it, and then I would expect that at least the "Living Idea" thing needs to be done manually. We shall see.

[2017-09-16 17:24] foolip opened #383 "Cross-check against scraped Web IDL specs"
https://github.com/GoogleChrome/webidl-diff is an ongoing project to automatically scrape the Web IDL of Blink, all specs that it link to from its IDL, and all the IDL from Gecko and WebKit. (URLs in Gecko and WebKit aren't considered.)

It seems likely that new specs will occasionally be first discovered by this tooling, or that there are small disagreements about canonical URL and similar betwee

[2017-09-16 19:04] tobie commented on #383
I'd suggest getting the top-level directories (and the directories in https://github.com/w3c/web-platform-tests/tree/master/css) from the wpt repo, thank putting those into [specref.org](http://specref.org) to get the URLs, or directly using the [API](https://github.com/tobie/specref#get-a-set-of-bibliographic-references).

Alternatively, if you have URLs there's an [API tied to a reverse lookup t

[2017-09-16 20:05] dr-shorthair commented on #383
I doubt if it exists, or could exist. Specs that matter are published in too many different places, some quite informal. e.g. JSON was just a website for a long time. And not everyone understands or even believes that documentation counts ...

[2017-09-16 20:20] tobie commented on #383
I think @foolip meant the list of specs that represent technology currently implemented (or in the process of being implemented) in Web browsers with reasonable interoperability.

[2017-09-16 21:17] foolip commented on #382
OK, let's see if that works.

[2017-09-16 21:49] tobie commented on #382
It does: https://github.com/tobie/specref/commit/a1da2959cab1a81888098561c5a82223022be9ef.

[2017-09-16 21:49] #382 closed

[2017-09-16 22:24] foolip commented on #382
Sweet, thanks!

[2017-09-20 13:39] dr-shorthair opened #388 "Expose publisherIdentifiers in specref output"
The schema now has fields for **rfcNumber**, **isoNumber** and **ogcNumber** (and there may be more to come for series from other organizations). These numbers are often used in the community as alternatives to the textual title of specs, and customarily appear in citations, but they are not exposed in the specref output.

I don't understand the specref/respec architecture in order to suggest how

[2017-09-20 13:47] tobie commented on #388
Hey, @TabAtkins and @marcoscaceres, would you be interested to display this data? If so, would you like those differrent identifiers tied into a single property name (e.g. .publisherId or similar).

[2017-09-21 07:33] marcoscaceres commented on #388
I'm still not sure what value this brings to readers. @dr-shorthair, let's take a citation from today, and maybe you can tell us what you would like to see differently?

Given:
[code]

It is rendered as:

![screenshot 2017-09-21 17 31 12](https://user-images.githubusercontent.com/870154/30683979-c09506ec-9ef2-11e7-8789-16c8dea681a0.png)

And in the the Reference section, we see:

[code]

Which is

[2017-09-21 18:34] tabatkins commented on #388
Marcos asked what I was going to ask, but with more examples. ^_^

If the info leads to better biblio display, or easier biblio linking, great. If it doesn't, I don't care what you do.

[2017-09-21 18:43] tobie commented on #388
I'm not planning to expose this data unless they are use cases for doing so. Not seeing any, I'll just close this for now. Please feel free to reopen if there use cases show up.

[2017-09-22 04:03] dr-shorthair commented on #388
@marcoscaceres argument applies iff the **specref** key is more or less the same as the publisher identifier.

In the case of ISO and OGC specs I don't think this can work for a couple of reasons.

1. Community expectations around keys
2. The identifier syntax

Here's the details -

### 1. Keys

Probably best to explain through examples.

In https://www.w3.org/TR/vocab-ssn/ you can find the follow

[2017-09-22 05:21] marcoscaceres commented on #388
This is handled by `aliasOf`.

Correct. Specref has nothing to do with citation styles. That's handled by ReSpec or BikeShed... but it's mostly 🤷🏽‍♂️. In the last 10 years, citation styles have only been raised as an issue once in ReSpec, AFAIK... and by only one user. See https://github.com/w3c/respec/issues/857.

For references in digital documents, the primary thing people need is the ability t

[2017-09-22 07:05] tobie commented on #388
Wel, LMK what kind of data you'll want for https://github.com/w3c/respec/issues/857 and we can look how best to expose it here.

[2017-09-22 07:29] marcoscaceres commented on #388
I'm still not sure we need anything, tbh. We could just have a rule like:

[code]

But given that we have `isoNumber` I guess we can just use it... but we should change the schema to `stdNumber`... The number (or id, really) is dependent on the publisher, so you don't need `isoNumber`, "ogcNumber", because an ISO spec is not going to ever have an `ogcNumber`, right?

[2017-09-22 07:58] tobie commented on #388
I think your `stdNumber` is what I was referring to with `publisherId`. Open to bikeshedding this. Do we want to merge ISBN in there too, or is that something else?

[2017-09-25 01:56] marcoscaceres commented on #388
Ah, I misunderstood. I thought `publisherId` was an identifier for the publisher, not the publication. That might confuse people, like me.

Maybe `publicationId`?

[2017-09-25 05:22] foolip opened #389 "FXTF drafts point to dev.w3.org which redirects"
In w3c.json there are a number of edDraft references:
* http://dev.w3.org/fxtf/compositing-1/
* http://dev.w3.org/fxtf/css-masking-1/
* http://dev.w3.org/fxtf/filters/
* http://dev.w3.org/fxtf/geometry/
* http://dev.w3.org/fxtf/matrix/

These all redirect to https://drafts.fxtf.org/compositing-1/ and similar. It looks like the source of the data is https://www.w3.org/2002/01/tr-automation/tr.rdf.

[2017-09-25 05:30] foolip commented on #389
filters actually redirects to https://drafts.fxtf.org/filter-effects/, so it's not just search/replace.

[2017-09-25 05:32] tobie commented on #389
You can replace those manually here: https://github.com/tobie/specref/blob/master/overwrites/w3c.json

[2017-09-25 05:44] foolip opened #390 "Use more HTTPS"
Not sure about the source, but these two real specs redirect to HTTPS:
* http://app-uri.sysapps.org/
* http://drafts.csswg.org/css-overflow/

[2017-09-25 07:57] tobie commented on #388
Duh!

Yeah, `publicationId` is better.

[2017-09-25 21:58] tobie commented on #390
Fixable in different ways depending on where the refs are located. Fixing redirects aren't a huge priority tbh.

[2017-09-27 07:33] marcoscaceres commented on #388
So, pondering a bit more, I still feel there is little value `publicationId` for our readers. Sorry  @dr-shorthair. I suggest we close this and reopen if new/interesting use cases emerge.

[2017-09-28 21:10] foolip commented on #383
That is correct. Seems like the list doesn't exist, but I'm growing it for https://foolip.github.io/day-to-day/

[2017-09-28 21:20] tobie commented on #383
You're welcome to annotate Specref if that's helpful. We can create an extra property for this on the spec reference and expose it (e.g. a boolean or URL to the test suite).

[2017-09-28 21:50] foolip commented on #383
What I think I'll end up doing is scraping the specs themselves for links to test suites to handle cases where the shortnames don't match. Is any Specref data currently based on the links to the specs, and would it be a problem if it took many hours to process all specs?

[2017-09-28 22:05] tobie commented on #383
Mmm. It feels like getting the few offending specs fixed is less work, here, but I might be wrong.

No if by this you're asking whether I'm already getting data out of scrapping the specs themselves.

Yeah, the update script is run hourly, so this would cause issues.

It could be run separately on a 24h schedule, though. Note that this runs on Heroku, so there might be certain restrictions as to w

[2017-09-28 22:15] foolip commented on #383
Let me just try to work around the mistmatched names and fix a few of them, maybe it'll be fine.

This issue was originally really just about cross-checking if @mdittmer's tooling would discover any spec URLs that Specref doesn't know about, and if so adding them somehow. That'd give me more confidence that "ultimate spec list" is a subset of Specref.

[2017-09-28 22:24] tobie commented on #383
That'd be the goal (at least for me). :)

[2017-09-28 22:34] tabatkins commented on #383
Related: if, in finding this "ultimate spec list", you find ones that aren't in Bikeshed's db (<https://github.com/tabatkins/bikeshed/blob/master/bikeshed/spec-data/readonly/specs.json>), it would be *great* to inform me; they need to be added to Shepherd so Bikeshed can cross-link with them.

(This applies whether they're Bikeshed specs or not, but obviously getting Bikeshed specs into Shepherd i

[2017-09-28 22:37] foolip commented on #383
One way to go about this that doesn't require @mdittmer's tooling is to just list all URLs that exist anywhere in Gecko, Chromium and WebKit. Filter a bit, and one should be able to at least discover new w3c.github.io specs. (Just listing all repos in the w3c org would do that as well, of course.)

[2017-09-30 13:10] foolip commented on #389
I had it fixed in https://www.w3.org/2002/01/tr-automation/tr.rdf, already auto-updated here.

[2017-09-30 13:10] #389 closed

[2017-09-30 13:12] tobie commented on #389
Even better!

[2017-09-30 22:25] #372 closed

[2017-10-01 19:23] foolip opened #397 "Need to add a bunch of specs. How?"
w3c.github.io:
- https://w3c.github.io/keyboard-lock/
- https://w3c.github.io/longtasks/
- https://w3c.github.io/deviceorientation/spec-source-orientation.html
- https://w3c.github.io/staticrange/
- https://w3c.github.io/touch-events/
- https://w3c.github.io/uievents/
- https://w3c.github.io/web-nfc/
- https://w3c.github.io/webvr/spec/latest/

wicg.github.io:
- https://wicg.github.io/media-capabil

[2017-10-01 19:24] foolip commented on #397
I am beginning to suspect that there's no process for getting new specs into specref when they're spawned at the W3C. @sideshowbarker, is there something we could do about that? For example, check all public GitHub repos in the w3c org, and do a thing.

[2017-10-01 19:28] strugee commented on #397
I believe if those are published under w3.org they should be pulled in automatically?

[2017-10-01 20:08] tobie commented on #397
Specref gets its W3C data from tr.rdf and its WICG data from https://github.com/WICG/admin/blob/gh-pages/biblio.json (it seems like the WICG folks don't keep it up to date—@marcoscaceres, is there something that could be done to improve this?).

There's no clear data source for in progress CG work as far as I know, so maybe your idea to scrape github is the best approximation we can get for this?

[2017-10-02 04:14] marcoscaceres commented on #397
For WICG it's complicated because not all repos end up having a spec (this is by design).

For when specs do emerge, they should really only end up in Specref iff:

1. they complete incubation and get moved to a W3C WG, in which case they enter specref automagically via tr.rdf.
1. Another spec cites that work (thus requiring the cited spec to be added to biblio.json manually (again, this is kinda

[2017-10-03 04:39] sideshowbarker commented on #397
Sure. But as far as I can see @tobie is already on top of this, and his comment at https://github.com/tobie/specref/issues/397#issuecomment-333403027 seems to indicate as much.

Looking through the w3c.github.io specs in the list in the description for this issue, I believe the issue with all of them is that each is either:

* a spec that has never yet actually been published by the W3C, as a FPWD

[2017-10-03 04:43] marcoscaceres commented on #397
As it should be. The bar for publishing something "officially" is pretty low across most of the orgs we cover. We should at least demand that before we add things to specref.

[2017-10-03 04:51] sideshowbarker commented on #397
Yeah, though the effort to which W3C working groups go to ensure something gets published as FPWD as soon it can/should, that varies a lot among working groups.

Agreed in principle but also take a look through the list of w3c.github.io specs in the description for the issue, and see if there are any there which you believe are mature enough and/or have enough implementation in the platform alread

[2017-10-03 08:24] foolip commented on #397
The background for this is that I'm trying to get "all" specs into https://foolip.github.io/day-to-day/, at the very least spec-like things that have test-like things in web-platform-tests.

The things I listed I believe are far along enough that they belong in specref, the question of auto-populating specref with anything that shows up in WICG is another one.

I'll see about fixing https://w3c.gi

[2017-10-03 08:39] foolip commented on #397
I fixed that in https://github.com/tobie/specref/pull/402.

[2017-10-03 08:40] marcoscaceres commented on #397
Ok, the WICG ones are easy to add manually. Unfortunately, that's probably the best we can do for now.

[2017-10-03 08:40] foolip commented on #397
I'm doing a PR for biblio.json now, if it keeps coming up on a regular basis let's revisit.

[2017-10-03 09:45] tobie commented on #397
In the past, these have been manually added to Specref, or directly added on a per spec basis through the custom biblio system both ReSpec and Bikeshed support.

[2017-10-03 23:31] sideshowbarker commented on #397
OK, yeah, I guess existence of web-platform-test tests for a spec is another data point that argues for it to be included in spec biblio systems

[2017-10-04 01:11] marcoscaceres commented on #397
That's another debate we need to have at some point... sometimes things we (implementers) haven't agreed should be part of the platform end up in WPT (😱). Expect something about this soon from Mozilla people... but obviously outside the scope of discussion here.

[2017-10-04 07:17] foolip commented on #397
Yes, that's a discussion I'd very much like to have. It's not just new browser features, there's also https://github.com/w3c/web-platform-tests/tree/master/annotation-model and similar.

We just don't import some things like that. And wpt is a collection of test suites and not really one test suite, so no aggregate numbers make sense, and I'd argue should never be part of https://wpt.fyi/.

Can yo

[2017-10-04 07:21] foolip commented on #397
Possibly related is the idea in https://github.com/w3c/wptdashboard/issues/83#issuecomment-326923512 that each directory could have a per-implementation bit that means "this is our primary test suite for this feature", "this has good code coverage of our implementation" or just "we like this feature". With something like that, all the information should be there to present the facts as they are on

[2017-10-08 16:42] foolip opened #404 "Are auto-updates broken?"
@tobie, https://github.com/WICG/admin/pull/39 hasn't been pulled in, and the latest commit was https://github.com/tobie/specref/commit/3d03d9fb81a34ceec0e5b3e539f9dfa424c48b5d. Is something broken?

[2017-10-08 16:45] tobie commented on #404
Looking at the logs right now.

[2017-10-08 18:52] #404 closed

[2017-10-09 04:08] marcoscaceres commented on #397
I'm hoping someone from Mozilla will post something soon. We are ironing out our position on all this stuff internally right now.

[2017-10-09 22:59] dr-shorthair commented on #388
Thanks @marcoscaceres - I agree that more thorough use of `aliasOf` could be part of the solution to my use-case.

Note that my suggestions here were based on what I thought was just a logical extension of the existing `rfcNumber` field. However, if `rfcNumber` is only ever used as a duplicate of the spec key (or an alias) then is it really needed? If not, then this thread is maybe a wild-goose ch

[2017-10-10 01:17] marcoscaceres commented on #388
I totally understand your perspective - but the main driver for including additional data has to be driven by functionality (e.g., "We add X, and we also make it possible to search for X") or representation (e.g., "We add X, and it vastly improves the usability of bibliographical style Y").

We are always playing a balancing act between adding more properties and actually making use of those prope

[2017-10-10 01:48] dr-shorthair commented on #388
1. Winding back to https://github.com/tobie/specref/issues/388#issuecomment-331372594 the thing that I first noticed in the data was what looked like mis-use of the `status` field for a publisher's document ID - status and identifier are orthogonal concerns.

2. Not quite true that some specs won't be in series from more than one publisher. There are joint publications. ISO 19156:2011 (not free) i

[2017-10-10 01:48] #388 closed

[2017-10-10 10:18] annevk opened #409 "WEBSOCKETS-PROTOCOL doesn't link to latest draft"

[2017-10-10 10:35] #409 closed

[2017-10-12 08:36] foolip commented on #397
@marcoscaceres, it's not quite done yet, but https://github.com/foolip/testing-in-standards/blob/master/lifecycle.md is my thinking on where we need to go with this. Hope that sheds some light.

[2017-10-13 03:58] marcoscaceres commented on #397
@foolip that's great... specially if we can closely track and encourage the `.tentative` tests.

[2017-10-13 13:29] foolip commented on #397
Yep, if that's the main concern, then I can see about working out a system where tentative tests are triaged any time they've remained untouched for 90 days or so. It would be best if this were a per-feature triage owned by people in feature/OWNERS, but ecosystem infra could be the fallback and the place we notice if triage isn't happening.

[2017-10-13 13:30] foolip commented on #397
I've added a TODO to [Ecosystem Infra rotation](https://docs.google.com/document/d/10och6DoxEe6AhQX7MiQR8AhtjDheKIlf-GpF0impeJQ/edit?usp=sharing) to not forget.

[2017-10-25 09:42] foolip commented on #397
I've added a lot of WICG specs recently. I still don't know how to deal with w3c.github.io before they've been published under TR though. @tobie, is there a good way to get them into specref? If not I'll keep adding them manually to day-to-day.

[2017-10-25 09:45] tobie commented on #397
@foolip not super sure I understand what you mean.

[2017-10-25 09:49] tobie commented on #397
Did you add them to https://github.com/WICG/admin/blob/gh-pages/biblio.json? If so, they should just show up in Specref < 60 minutes later.

[2017-10-25 10:08] marcoscaceres commented on #397
@foolip - also not sure what you are asking for. In particular:

Are you asking about migration from WICG spec to W3C Working Group spec and updating the ref then?

[2017-10-25 12:48] foolip commented on #397
Yes, and all of that's been working fine after https://github.com/tobie/specref/issues/404.

[2017-10-25 12:51] foolip commented on #397
No, just how to get specs under w3c.github.io that aren't yet under TR into specref. Those specs aren't listed in https://www.w3.org/2002/01/tr-automation/tr.rdf.

Probably fun things will happen when things move from wicg.github.io to w3c.github.io, but as long as they were already in the WICG biblio.json at least the old URLs will stay around and be redirected.

[2017-10-25 12:56] tobie commented on #397
Oh. Well, we could add a JSON file just like WICG has and update it some way or other.

[2017-10-25 13:20] tobie commented on #397
We just have to figure out how to do it. Shouldn't be a huge deal.

[2017-10-25 13:21] foolip commented on #397
In specref you mean? That'd work for me. https://github.com/foolip/day-to-day/blob/master/specs-manual.json has some of the specs I'd add.

[2017-10-25 13:25] tobie commented on #397
So it seems you're missing some references and the easiest way is to add them manually, right? Those are going to be W3C refs in the future, correct? If so, just manually add them to `refs/w3c.json` and be done with it.

[2017-10-25 15:29] foolip commented on #397
Presumably they will be, yes. I'll send some PRs for moving them over, then.

[2017-10-25 15:41] tobie commented on #397
Do remember to add and remove corresponding entries in the same PR to avoid getting the test suite all mad at you.

As a side note, I'm starting to think we should reconsider splitting the db into multiple JSON files. Seems to create more problems than it solves.

[2017-10-25 19:22] foolip opened #414 "Input Events Level 1/2 need to be unmerged"
refs/w3c.json has:
[code]

Importantly, there's nothing that links to https://w3c.github.io/input-events/, which is the latest version and presumably what everyone should read.

Because there are already some "Input Events Level 2" bits inside input-events-1, splitting this isn't entirely trivial. @tobie, what can be done that wouldn't be undone by an automatic update?

[2017-10-25 20:55] tobie commented on #414
As WGs don't agree on how to consider levels, that kind of unmerging is non-trivial. For example, in this particular case, [input-events] is marked as one of the former short names of [input-events-1]:

[code]

That's obviously silly, so at some point, the logic is just to rewrite the import logic and enforce a single strategy for levels in Specref. In the meantime, your best option here is to ove

[2017-10-25 22:05] foolip commented on #414
So, say that the ED of Level 1 is https://w3c.github.io/input-events/ even though it's Level 2?

[2017-10-25 22:19] tobie commented on #414
Yeah. In practice, these levels are just aliases, really.

[2017-10-25 22:27] #397 closed

[2017-10-26 13:34] foolip commented on #414
In [Intent to Ship: InputEvent](https://groups.google.com/a/chromium.org/d/msg/blink-dev/W-Q1yWW-zas/dO0znwAjCwAJ) that unfortunately seemed to not be the case, both are being maintained. @choniong, right?

[2017-10-26 14:06] tobie commented on #414
Yeah, I meant that from how Specref is structured. You also can't have multiple edDrafts for now.

I was hoping for W3C to get some consistency across is levels system. I don't think that's happening. Again this points to us thinking this through and adopting a system that works across a number of different work modes. Would be nice, but I'm not seeing enough interest from anyone to actually apy f

[2017-10-26 17:54] choniong commented on #414
Re @foolip: Yes both levels are being maintained and we probably don't want to merge them into one (Not familiar with specref though).

[2017-10-26 18:35] tobie commented on #414
They're already merged and that's mostly an implementation detail. It's a bit leaky, though, and isn't designed to handle one ED per level. That said, is there really a use case to reference level 1 ED from somewhere?

[2017-10-26 20:09] foolip commented on #414
I just want to link to https://w3c.github.io/input-events/, it's just that it'd actually be wrong to claim that https://w3c.github.io/input-events/ is the ED of https://www.w3.org/TR/input-events-1/.

[2017-10-26 20:43] tobie commented on #414
As I said, Specref isn't equipped right now to deal well with multiple coexisting spec levels. So you'll have to make a choice between correctness and pragmatism.

[2017-10-27 13:03] foolip commented on #414
I'll keep this as a manual addition in day-to-day for now.

[2017-10-27 13:03] #414 closed

[2017-10-27 13:05] tobie commented on #414
So you chose correctness AND pragmatism. Nice. :D

[2017-11-15 00:50] apowers313 opened #421 "References best practices"
[The docs provide a good overview](https://github.com/tobie/specref#manual-changes) of how to submit new references, but I haven't found anything on "best practices" of what a reference should look like. For example, the `IANA-COSE` was originally a reference called `IANA-COSE-ALGS-REG` in the FIDO specifications, and the FIDO reference was to a [specific section](https://www.iana.org/assignments/

[2017-11-15 10:16] tobie commented on #421
So Specref will balk over duplicate URLs. I don't have a good solution for this issue, tbh. :-/

[2017-11-15 11:00] tobie commented on #421
I've thought this through a little more and can now expanding on my previous comment a bit.

First of all, fragment URLs aren't considered as duplicates so you should be fine in the IANA spec example you mention earlier.

For the Bluetooth case, your best bet is to create a single BTCORE reference and be specific in how you reference it, e.g.:

I know this isn't optimal, so if you're using those r

[2017-11-16 05:11] apowers313 commented on #421
I'm assuming that the URLs to the PDFs aren't stable (they really look like they belong to some CMS that could change...). But even if the URLs were stable, BTCORE, BTCCC, BTDIS (and others) are really all just different sections of the same document. In looking through the current bibliography, there are some examples of references to sections (although I don't recall them now).

My meta-question

[2017-11-16 09:05] tobie commented on #421
Yes. Plus there's a test suite that's automatically run and that will prevent you from doing a bunch of things (such as having identical URLs for multiple entries).

[2018-01-04 21:14] tobie commented on #239
Closing as specref is now using cloudflare for the www cert.

[2018-01-04 21:14] #239 closed

[2018-02-06 10:14] foolip commented on #390
http://drafts.csswg.org/css-overflow/ is from https://www.w3.org/TR/css-overflow-3/ which is no longer the latest, so closing this.

[2018-02-06 10:14] #390 closed

[2018-02-18 12:49] edent opened #438 "nist.gov now supports https"
PR incoming :-)

[2018-02-18 20:25] #438 closed

[2018-03-07 02:59] foolip opened #444 "How to add SVG Animations spec?"
https://svgwg.org/specs/animations/ is a cool URL. It hasn't been published in the W3C sense AFAICT, so how to get it into specref? It defines things that no other spec defines, and is linked from https://developer.mozilla.org/en-US/docs/Web/API/SVGAnimateElement.

[2018-03-07 03:03] foolip commented on #444
These are in specref, FWIW:
https://svgwg.org/specs/integration/
https://svgwg.org/specs/markers/
https://svgwg.org/specs/paths/
https://svgwg.org/specs/strokes/

[2018-03-07 06:33] tobie commented on #444
Manually to biblio.js seems like the easiest option.

[2018-03-16 06:58] domenic opened #445 "Add current service workers draft"
https://w3c.github.io/ServiceWorker/ is not in the database. Ideally [SERVICE-WORKERS] should go there, not to the v1 snapshot.

[2018-03-16 10:03] tobie commented on #445
So this was fixed in https://github.com/tobie/specref/commit/ab8104837a9e08e5f22e42fe1030b13d83dfe8c2, following https://github.com/tobie/specref/issues/308. Then was removed in https://github.com/tobie/specref/commit/8156b3fdc311cb1c3d659a0baad23402c5323d69 as it had been fixed on the W3C side. Only to be broken again with the next release of the WD automatically merged in https://github.com/tobi

[2018-03-16 10:15] #445 closed

[2018-03-16 10:16] tobie commented on #445
So the fix can take up to an hour for the bot to kick in.

[2018-04-04 10:34] tidoust opened #450 "Reverse lookup on XHR should return WHATWG version, not TR Note"
A reverse lookup on the XHR spec URL `https://xhr.spec.whatwg.org/` yields information about the W3C XHR Note, whereas I would expect to get some info about the WHATWG spec:
[code]

Right now, it returns the same info as:
[code]

... and I would rather expect to get the same info as:
[code]

I haven't looked at the code, but given that the `https://xhr.spec.whatwg.org/` URL is also the URL of the

[2018-04-07 13:28] tobie commented on #450
Oh, that's a tough one. Generally, URLs are supposed to be unique, so something weird must have happened there. Maybe the logic doesn't check for the duplicates between the `edDraft` and `href` properties?

[2018-04-09 13:43] tidoust commented on #450
I looked at the code and prepared a PR accordingly. The logic seemed to be _willing to_ check for duplicates, but was not doing it properly in practice...

[2018-04-09 13:53] #450 closed

[2018-04-26 08:13] tobie opened #461 "Move some of the README content into CONTRIBUTING.md"

[2018-04-26 17:57] palemieux opened #463 "Handling editions of W3C recommendations"
As it stands, it looks like like entries like `TTML1` refers to the most recent version of TTML1, which is fine since references to specific versions, e.g. `ttml1-20041101` are also available.

It looks like there is however an issue with the `TTML1` entry as it is current generated:

` Glenn Adams; Pierre-Anthony Lemieux. Timed Text Markup Language 1 (TTML1) (Third Edition). 24 April 2018. W3C Ca

[2018-04-26 18:46] tobie commented on #463
Well, we'd need something consistent. So this couldn't be specific to certain entries, or to even to specs which have multiple editions (as there's little consistency as to how those are represented). At the same time, the behavior you describe is desired for a number of use cases, so we cannot replace it altogether.

There's a number of things that could be done here. But each one is substantial

[2018-04-26 19:50] palemieux commented on #463
@tobie How are the references to W3C recommendations generated?

Which use cases? It seems undesirable to have the name of the specification in the reference not matched the specification to which the URL points to.

[2018-04-26 19:54] tobie commented on #463
The use case is specs that don't change name across version and/or edition.

[2018-04-26 19:56] palemieux commented on #463
Ok. So if there was a means of extracting the title *without* the edition number, then that name could be used, and so, for example, the TTML1 reference would be generated as:

[code]

Did I get this right?

[2018-04-26 21:06] tobie commented on #463
Edition numbers and version numbers are really complicated to handle because everyone does them differently and has a different understanding of what they mean. I have no idea how to fix that without some serious re-engineering of how Specref considers, stores, and handles data.

From Specref's perspective a title is a title. Unless the spec changes shortname as is changes version, we'll have thes

[2018-04-26 21:09] palemieux commented on #463
Understood. I plan to follow-up with W3 staff for their opinion.

[2018-04-26 21:15] tobie commented on #463
We had a number of conversations with @plehegar and @deniak on the topic. And it ties in to some of the work they've been doing.

[2018-04-26 21:17] palemieux commented on #463
Thanks for the pointers. Totally thinking out loud, it might be good if the W3 specifications had metadata that contains a canonical title, independently of edition number and pub date -- just like the spec status is not embedded in the title.

[2018-04-26 21:18] tobie commented on #463
I don't disagree. Some editors and WGs do, however.

[2018-04-26 21:19] palemieux commented on #463
That makes us two at this point, which is bigger than 1 :)

[2018-05-01 20:34] plehegar commented on #463
Note that respec handles subtitles., eg https://w3c.github.io/pointerevents/

Now, compare the data from
 https://www.specref.org/?q=pointerevents2

and the actual WD at https://www.w3.org/TR/pointerevents2/
 (the subtitle got dropped in specref)

This is because we don't expose through our API those subtitles. So, if you actually want to drop edition and version numbers, the solution is to put th

[2018-05-02 03:48] marcoscaceres commented on #463
Watching with interest... does the W3C API derive the "title" from `<title>` or from the head's `<h2>`. If it's getting it from `<title>`, then we can maybe concatenate the spec's title and subtitle, into `title (subtitle)`. But, PubRules would need to allow `<tile>` and  `<h2>` to differ.

[2018-05-02 15:44] plehegar commented on #463
(I think you mean head's h1, not head's h2. I misspoke earlier when I said "instead of h1". You always need the h1 but you can use an additional h2 for the subtitle)

Not sure about the API but the title of a spec is extracted from the h1 in pubrules using
 https://github.com/w3c/specberus/blob/master/lib/rules/metadata/title.js

If I understand correctly, the actual "official" metadata that gets

[2018-05-05 13:48] andrea-perego opened #466 "Inconsistencies in IANA-related entries"
Entries about the IANA registers are not specified consistently.

E.g., some have "IANA" as publisher (see, e.g., [[IANA-MEDIA-TYPES]](https://api.specref.org/bibrefs?refs=iana-media-types)), others have no publisher at all (see, e.g., [[CHARSETS]](https://api.specref.org/bibrefs?refs=charsets)). Another example is the ID pattern (some start with "IANA-", others don't),

It may be worth to fix at

[2018-05-05 20:02] tobie commented on #466
Sounds good. You can also fix the identifiers, but you’ll need to set aliases for the current ones.

[2018-05-07 05:57] marcoscaceres commented on #463
Agree.

[2018-05-07 06:07] palemieux commented on #463
So... in the case of [TTML1](https://www.w3.org/TR/2018/CR-ttml1-20180424/), you are suggesting that _(Third Edition)_ could be carried in an `h2` so that it is not picked up by spec-ref?

[2018-05-07 06:13] marcoscaceres commented on #463
Yes, I believe that is correct.

[2018-05-07 08:12] tobie commented on #463
That wouldn't be immediate, though. W3C would need to republish the spec for this change to be effective.

[2018-05-07 13:57] plehegar commented on #463
@palemieux . it is indeed correct. Since 3rd is a CR, you could make the update in the editor's draft and our system would pick that up at the next publication.

[2018-05-07 14:07] palemieux commented on #463
Ok. Thanks, so it sounds like this issue can be closed? Would it make sense to document this thread in respec... for future generations?

[2018-05-07 14:46] tobie commented on #463
Yeah, the underlying problem is that W3C doesn't have a real defined concept of what a version or an edition is. I'm not too sure where that issue should be filed, @plehegar?

[2018-05-07 15:37] plehegar commented on #463
@tobie, https://github.com/w3c/guide/ would be the place. Version management is documented in https://www.w3.org/2005/05/tr-versions at the moment but could be moved into the Guide repo.

[2018-05-07 18:46] plehegar commented on #463
@skynavga , there is no change being proposed here at this point. So not sure what you're objecting to...

[2018-05-07 19:01] skynavga commented on #463
@tobie @plehegar i've updated my comment

[2018-05-07 19:15] plehegar commented on #463
@skynavga , as @tobie suggested, you should take this objection to the proper repository. There is no change being proposed to respec here.

[2018-05-09 06:04] marcoscaceres opened #467 "List of top specs"
I'm wondering, do we have any stats of the most popular cited specs? I'm guessing no, but might be interesting to know.

Use case: I'm thinking of baking, say, the top N most used citations directly into ReSpec (and then checking if they are stale, and updating them as needed - means a big perf improvement for ReSpec users).

There are obvious stable candidates, like RFC2119, WebIDL, HTML, DOM, et

[2018-05-09 07:36] tobie commented on #467
Specref is used very differently by Bikeshed (downloads the whole DB every time you run `bikeshed update`) and Respec (hits the API for every new visitor). I don’t see how we could reconcile this and get. Alia le data out of it. What you want to do is crawl the specs for links instead and use Specref’s reverse lookup table to find the ones which are specs.

[2018-05-09 07:43] marcoscaceres commented on #467
Yeah, makes sense. Will see if I can do as you suggested instead.

[2018-05-09 07:43] #467 closed

[2018-05-09 18:09] tabatkins commented on #467
@tobie Just FYI, `bikeshed update` doesn't do that anymore, but the script that *generates* the databases for `bikeshed update` does, once every ten minutes.  A user calling `bikeshed update` now just grabs the specific changed files they need directly from [the bikeshed-data repo](http://github.com/tabatkins/bikeshed-data).

@marcoscaceres Note that Bikeshed now does comprehensive regression test

[2018-05-09 20:53] tobie commented on #467
That's awesome. Thanks for the update, @tabatkins.

[2018-05-10 02:52] marcoscaceres commented on #467
@tabatkins that's excellent. Although we are still in the planning phase of @sidvishnoi GSoC project, it's likely we will end up using BikeShed's data for our cross referencing too. We are still evaluating how all the pieces slot together, and if we need to set up a web service for ReSpec to query xref data.

If you have more information about the "cross-spec dfn-panels", and if we can collaborate

[2018-05-10 21:17] tabatkins commented on #467
Like cross-referencing in general, I doubt this feature is compatible with ReSpec's client-side nature. But the idea is that, right now, you can click on a definition and get a panel to pop up listing all the places in that spec that reference the definition. I'm just going to extend it to point to all the places *in all other specs I can find* that reference it as well.

[2018-05-11 18:10] memememememememememememe commented on #466
NULL

[2018-05-15 10:27] nigelmegitt commented on #463
For information, w3c/ttml1#353 is in a holding pattern pending any clear agreement on how W3 is going to handle this. It's clear already from https://github.com/tobie/specref/issues/463#issuecomment-385781680 that using a subtitle in `h2` is an option, but that further work would be needed, perhaps in backend tooling, to populate the title shown in specref with the unqualified (no subtitle) one fo

[2018-05-15 11:58] tobie commented on #463
Deleted a bunch of comments that were referencing a comment @skynavga had changed in the meantime and that were thus adding confusion.

[2018-05-15 12:04] tobie commented on #463
@nigelmegitt to clarify my position here, handling versions and editions is an automated way in Specref is a lot of work that I'm not expecting anyone to feel like doing (and then supporting), or be willing to pay for in the near future. I wouldn't expect a resolution to this issue under 18 months. Not to mention that this potentially relies on prior work at the W3C level (which might add another

[2018-05-15 12:57] nigelmegitt commented on #463
Thanks @tobie that's useful information. I had the impression from @plehegar that possibly specref would not be changed at all and the only change would be in backend W3 systems.

[2018-05-15 13:06] tobie commented on #463
I'm unable to tel you whether adding support for this in Specref—granted it was actually added on the W3C side and exposed in W3C's rdf file (which Specref still relies on)—is a 5 minute job, or requires a complete re-architecture of the project. There is *a lot* of technical debt in Specref.

[2018-05-16 04:47] marcoscaceres commented on #467
We are planning to do the heavy lifting on the server, and then just send data down to the browser (either as JSON or "server rendered" HTML).

That also sounds doable by querying a server, and then streaming results down to the browser.  Wouldn't the same model benefit BikeShed? Otherwise, won't you need to  pre-compute all the those relationships and then ship all that data down with each spec?

[2018-05-16 04:49] marcoscaceres commented on #467
cc @saschanaz, who is interested in this also.

[2018-05-17 01:39] marcoscaceres commented on #467
Ok, we will keep that in mind and make sure we don't send unnecessary data.

[2018-06-20 21:26] jfbastien opened #469 "WG21 missing entries"
WG21 seems to be missing entries, for example:

<img width="748" alt="screen shot 2018-06-20 at 2 19 25 pm" src="https://user-images.githubusercontent.com/298127/41685581-b6468e80-7495-11e8-8173-d705e3332eb6.png">

Looking at wg21.link/index.json there are r0 through r6 versions of this paper, but specref doesn't know about all of them.

/cc @m-ou-se @jyasskin

[2018-06-20 22:43] #469 closed

[2018-07-16 09:00] foolip opened #474 "WG21 P0646R1 became untitled in automatic update"
Noticed this when looking at something else entirely. In commit 79a71edffe2826a6d9ec26341ec6cc8b2552b615:
[code]

However, https://wg21.link/index.json still has "Improving the Return Value of Erase-Like Algorithms I: list/forward list" as the title for this document, suggesting that something might be wrong with the updating process?

[2018-07-18 22:01] tobie commented on #474
FIxed itself. Closing.

[2018-07-18 22:01] #474 closed

[2018-09-02 14:38] xfq opened #475 "Move Animation Worklet from WICG to W3C"
The [old repository](https://github.com/WICG/animation-worklet) has been merged into css-houdini-drafts repository.

[2018-09-17 20:32] mavgit opened #477 "Add reference to WHATWG Web sockets spec"
SpeRef includes [websockets], which points to the 2012 W3C CR [WebSocket API](https://www.w3.org/TR/websockets/) spec, which tells folks to use the WHATWG Web Sockets spec: https://html.spec.whatwg.org/multipage/web-sockets.html#network

We need a SpecRef entry that points to the WHATWG Web sockets spec.

[2018-09-17 20:37] tobie commented on #477
It's in the [Network section](https://html.spec.whatwg.org/multipage/web-sockets.html#network) of the HTML spec itself, so just reference it as [HTML].

[2018-09-17 20:37] #477 closed

[2018-10-01 18:15] tabatkins opened #478 "Searching for "HTTP" returns every single reference with a url"
Because SpecRef applies the search term to the URL field, searching for "HTTP" ends up matching *every single reference with a url*, which... isn't very useful when you're looking for the HTTP specs.

Could we special-case "http" as a search term, and *not* search URLs for it? (Maybe "https" too?)

[2018-10-24 22:41] mavgit opened #484 "Add reference to TAG finding "The evergreen Web""
I need to reference the W3C TAG finding "The evergreen Web".
    https://www.w3.org/2001/tag/doc/evergreen-web/

I see you have included TAG findings before, such as [QNAMES].

[2018-10-24 22:41] tobie commented on #484
Yeah, that sounds fine. Just send a pull request.

[2018-11-05 06:52] mavgit commented on #484
@tobie I cloned the repo, created a local branch using GitHub desktop, made and committed the change locally, but I don't have permission to publish the branch to create a pull request.

FYI, here's my proposed addition to refs/biblio.json:
[code]

[2018-11-05 08:38] tobie commented on #484
You can just use the web interface for small changes like these.

[2018-11-05 08:55] #484 closed

[2018-12-30 00:14] andrea-perego opened #495 "Possible revision to Dublin Core entries"
I noticed some inconsistencies in Dublin Core entries:
1. They all miss the publisher ("DCMI")
2. DCTERMS is specifying the wrong author (which should be "DCMI Usage Board")
3. For DCTERMS there are two entries: DCTERMS, pointing to the latest version, and DC-TERMS, pointing to the 2010 one - and they are not linked
4. DC11 uses a version URL, instead of the one pointing to the latest version
5. D

[2018-12-30 00:16] tobie commented on #495
LGTM. Could you please submit those as a PR?

[2018-12-30 00:37] andrea-perego commented on #466
Sorry, @tobie , for coming back to this with such delay.

I checked the current IANA entries, and a possible revision is the following one (diff'ed):

[code]

Does this make sense?

Thanks

[2018-12-30 00:53] tobie commented on #466
Seems reasonable. PR?

[2018-12-30 01:00] andrea-perego commented on #495
Thanks, @tobie , just done - see #496

[2019-01-03 19:17] #495 closed

[2019-01-04 22:03] #466 closed

[2019-01-15 18:06] nigelmegitt opened #499 "EBU-TT v1.2 URL"
See w3c/tt-profile-registry#60 :
The link to the URL for EBU Tech3350 v1.2 should be https://tech.ebu.ch/docs/tech/tech3350v1_2.pdf but is instead https://tech.ebu.ch/docs/tech/tech3350v1-2.pdf. The `-` needs to be changed to a `_`.

[2019-01-15 18:26] #499 closed, assigned to nigelmegitt

[2019-02-28 14:40] namedgraph opened #512 "References as JSON-LD"
Consider adding a JSON-LD `@context`?
That would make the specref JSON data immediately available to the RDF-based Semantic Web/Linked Data/Knowledge Graph ecosystem.

More information:
https://www.w3.org/TR/json-ld11/#the-context
https://json-ld.org/

[2019-02-28 14:42] tobie commented on #512
I’m happy to take a pull request.

[2019-02-28 14:51] marcoscaceres commented on #512
Interesting. Which system could consume this data? We’ve generally held off adding this JSON-LD because we couldn’t find any real consumers.

[2019-02-28 15:10] namedgraph commented on #512
Well for one search engines are indexing JSON-LD for SEO purposes: https://developers.google.com/search/docs/guides/intro-structured-data

As for the open-source community, specref would become a part of the LOD cloud: https://lod-cloud.net/

Most modern RDF libraries can consume JSON-LD. So for example, I could load specref data into a triplestore and run some SPARQL queries on it.

[2019-02-28 15:25] namedgraph commented on #512
@tobie at a first glance, it would probably need some slight restructuring of the JSON structure. I'm not an expert in JSON-LD specifically, more RDF in general, but I can try to get someone to look into this.

It's because in RDF the URI is the global identifier (built into the data model). So the `@href` value would be the ID of the spec, while the short name you're using as the key would become

[2019-02-28 15:33] marcoscaceres commented on #512
ReSpec includes JSON-LD descriptions of specs, but unfortunately we’ve seen little benefits. I was hoping better UI in search results for specs, but it seems support in search engines is limited at best.

Ok, but then what? How do regular users of specref benefit? How do spec writers benefit?

Could do the same with SQL and GraphQL, no? We do the lookups already with the JSON structure (e.g., quer

[2019-02-28 15:53] tobie commented on #512
Ok, so a solution that requires a profound schema change like you’re describing isn’t possible. It could be something additional, but we can’t have a modification like that ont the main API.

[2019-02-28 15:54] namedgraph commented on #512
@marcoscaceres I don't want to get into RDF vs. JSON here, but RDF was designed specifically for web-based data interchange, enabled by two main features:
* built-in global identifiers (URIs)
* zero-cost generic merge

JSON does not have either of those. I could have built my own DB similar to specref but with slightly different JSON structure, and if we decided to merge the efforts, we would need

[2019-04-17 08:00] sandersaares opened #528 ""npm test" rejects ' ' in URL but "fetch-refs" puts it there"
Example URL: `https://www.scte.org/SCTEDocs/Standards/ANSI_SCTE 01 2015.pdf`

I try to add references like this but `npm test` complains that this is not a valid URL. Because of the space characters. Okay, so I fix it to use %20 - works for me. But then if I try to add an update script, fetch-refs adds the space back in original form.

I think "npm test" should accept space in URLs.

[2019-04-17 08:08] tobie commented on #528
That seems like something that needs to be fixed in the module that fetch-refs loads.

[2019-04-19 01:45] marcoscaceres opened #532 "Stale data?"
Seems the WICG and W3C data might be a little stale?... looking at the commit logs, W3C was only updated 6 days ago and WICG was 20 days ago (both datasets have had updates since then). @tobie, maybe an update script is stuck somewhere?

[2019-04-19 05:09] xfq opened #533 "Move Feature Policy from WICG to W3C"
It is on /TR now: https://www.w3.org/TR/feature-policy-1/

[2019-04-19 05:14] marcoscaceres commented on #533
I think this might also be #532

[2019-04-19 14:57] tobie commented on #532
Yes. Will take a look shortly. Sorry for the issue.

[2019-04-19 15:44] tobie commented on #533
It’s probably the one causing #532.

[2019-04-23 09:02] tobie commented on #528
I think my suggestion in #529 fixes that? Feel free to reopen otherwise.

[2019-04-23 09:02] #528 closed

[2019-04-23 09:07] sandersaares commented on #528
I agree, it fixes the issue or at least works around it for this specific case. I am not sure if rejecting spaces is the best path in terms of compatibility - many things seem to consider spaces fine without escaping - but I suppose that is a secondary topic.

[2019-04-23 09:39] tobie commented on #512
Alright, I'm happy to consider a parallel API that would be JSON-LD and happy to take a pull request for it granted it doesn't create more work for me.

[2019-04-23 09:40] tobie commented on #512
Feel free to reopen this issue or open a new one if/when you want to discuss the specifics of that additional API.

[2019-04-23 09:40] #512 closed

[2019-04-23 10:35] tobie commented on #533
I sincerely wish the way W3C handles this would be such an inconsistent mess.

[2019-04-23 10:36] #478 closed

[2019-04-23 10:39] tobie commented on #532
Fixed. A typo in an added automated script.

[2019-04-23 10:40] #532 closed

[2019-04-23 10:41] marcoscaceres commented on #532
Yay! Thanks so much!

[2019-04-23 10:52] #533 closed

[2019-04-23 14:15] tobie commented on #383
Closing this. Feel free to reopen if this is still something you care about.

[2019-04-23 14:15] #383 closed

[2019-04-23 17:30] ylafon opened #537 "Wrong date for the "Writing Promise-Using Specifications" TAG Finding"
https://www.specref.org/?q=promises-guide show 16 February 2016 as the publication date while the target URL is dated 9 November 2018. How is the date maintained for TAG finding in specref? (so that I can update it myself as needed)

[2019-05-13 14:00] tobie commented on #537
Manually here, apparently: https://github.com/tobie/specref/blob/master/refs/biblio.json#L4381

[2019-05-22 10:19] #537 closed

[2019-06-03 11:42] chrisn opened #542 "SCTE links broken"
Links to SCTE standards aren't working. For example: [SCTE35](https://www.specref.org/?q=scte35) returns:

`https://www.scte.org/SCTEDocs/Standards/SCTE%252035%25202019r1.pdf`

which returns a 400 error. The following URL works:

`https://www.scte.org/SCTEDocs/Standards/SCTE%2035%202019r1.pdf`

The same issue affects other SCTE documents I'm referencing.

Not sure whether the problem is in specref

[2019-06-03 12:03] tobie commented on #542
Oh, is there double escaping going on somewhere? That's bad.

[2019-06-03 12:33] chrisn commented on #542
The links coming from the [upstream server](https://dashifspecref.blob.core.windows.net/scte/scte.json?st=2019-04-01T00%3A00%3A00Z&se=2039-04-01T00%3A00%3A00Z&sp=rl&sv=2018-03-28&sr=b&sig=eIrXcpSm6WkcgRNBgNKlyMnIUGWLwgTurzYy8K2WApI%3D) look OK.

[2019-06-03 13:03] tobie commented on #542
I'm a bit confused because I thought we had deliberately fixed this in https://github.com/tobie/specref/issues/528 and https://github.com/tobie/specref/pull/529. So I guess the answer is to back-down from this fix?

[2019-06-03 13:27] #542 closed

[2019-06-04 07:10] sandersaares commented on #542
Ah yes looks like some wires got crossed in the original continuity. Here is what I observed happening originally:

1. Without URL-escaping, the URLs were rejected by `npm test`
1. So I added URL-escaping to the URLs in the upstream file.
1. But then fetch-refs removed the URL-escaping.
1. Removing the URL-escaping by fetch-refs will make `npm test` fail again.

I was under the impression the esca

[2019-06-04 07:16] tobie commented on #542
Yeah, I have no idea how you experienced point 3 either. Something weird must have happened on your side. Sounds like we’re good now.

[2019-06-04 09:45] chrisn commented on #542
I can confirm the links are working now. Many thanks to you both!

[2019-06-20 16:35] yoavweiss opened #548 "WICG specs have a wrong status"
I noticed that WICG specs all have a "Living standard" status which seems wrong. Would it be possible to modify that to something along the lines of "incubation" or "proposal"?

Happy to PR to whatever value you think would be most appropriate!

/cc @cwilso @marcoscaceres @travisleithead

[2019-06-20 21:34] tobie commented on #548
Good point. We’d need to fix it in the script and maybe also in some of the older references. Happy to help with the PR or even write it once we’ve settled on the correct term (isn’t there a sanctioned W3C term for this?).

[2019-06-20 21:48] marcoscaceres commented on #548
The closes in w3c parlance is "cg-draft" or just "unofficial".

[2019-06-20 21:53] yoavweiss commented on #548
"cg-draft" SGTM

[2019-06-21 22:15] #548 closed

[2019-06-25 08:24] yoavweiss opened #552 "DOMHighResTimestamp seems missing"
Not sure if this is an issue here or upstream but `DOMHighResTimestamp` now seems missing from the DB. (High-res-time, where it is defined, can still be found)

Is this a specref issue? If not, can you point me to where the issue is coming from?

[2019-06-25 08:26] tobie commented on #552
References don't ever get removed from Specref, so you were maybe relying on a local biblio?

[2019-06-25 08:32] yoavweiss commented on #552
I don't think I was, and this is an issue we're now seeing in multiple specs (for those built with Respec, they started erroring out. Trying to build a spec with Bikeshed, linking to DOMHighResTimestamp doesn't compile)

A few related issues on the related Respec specs: https://github.com/w3c/performance-timeline/issues/136, https://github.com/w3c/resource-timing/issues/212

[2019-06-25 08:35] tobie commented on #552
Oh! That's an issue with Shepherd. /cc @plinss.

[2019-06-25 08:35] #552 closed

[2019-06-25 08:35] marcoscaceres commented on #552
This is actually a Shepherd issue, not Specref.

[2019-06-25 08:37] marcoscaceres commented on #552
@yoavweiss, will get these fixed... we need to get the Web Perf specs indexed by Shepherd. We've been working up to that.

[2019-06-25 08:37] yoavweiss commented on #552
@marcoscaceres - Thanks!

[2019-06-25 16:29] plinss commented on #552
hr-time-2 is being indexed by Shepherd, and there's an entry for DOMHighResTimeStamp in the anchor database. It's currently categorized as a plain 'dfn', adding a `data-dfn-type=typedef` would be good.

[2019-06-26 00:51] marcoscaceres commented on #552
@plinss, thanks! The /TR/ snapshot is currently missing the `data-dfn-type=`, but those are now automatically added by ReSpec. Once the spec is republished on /TR/, the correct annotations will be there (hi @plehegar 👋).

@plinss, how often does Shepherd pick up changes to TR? Do we need to do anything to ping you/Shepherd when we republish?

[2019-06-26 01:58] plinss commented on #552
Shepherd looks for changes in all the specs it monitors every day just after midnight pacific time. It also scans them all after any csswg spec update on github so it may pickup changes sooner.

[2019-06-26 18:56] plehegar commented on #552
I pushed an update for HRT2. Let's see tomorrow if the problem gets fixed.

[2019-06-26 19:07] plinss commented on #552
Shepherd sees it as a `typedef` now (did a manual update)

[2019-06-26 19:37] plehegar commented on #552
and specref.org/xref sees it. Looks like we're back in business!

[2019-08-02 08:48] tobie commented on #475
Is this fixed?

[2019-08-03 01:10] xfq commented on #475
Yep. Closing this issue.

[2019-08-03 01:10] #475 closed

[2019-10-13 11:48] contrepoint opened #560 "tc39.github.io redirects to tc39.es/"
Passed the [Web App Manifest url](https://www.w3.org/TR/appmanifest/) into W3C's [link checker](https://validator.w3.org/checklink?uri=https://www.w3.org/TR/appmanifest/&recursive=on) and found this redirect for ECMA-402.

I will update the link in a PR

```  Line: 6529 https://tc39.github.io/ecma402/ redirected to https://tc39.es/ecma402/ Status: 301 -> 200 OK This is a permanent redirect. The li

[2019-10-13 11:53] tobie commented on #560
Sounds like all GitHub hosted TC-39 specs should be affected by this, no? Think you could do a broader PR and either check the links yourself or get someone from TC39 to approve it?

[2019-10-13 11:55] tobie commented on #560
Also, please note that the deployment pipeline is currently down because of a broken update and your changes won’t be deployed until Friday.

[2019-10-13 12:11] contrepoint commented on #560
@tobie yes - that is true, thanks for pointing it out! I'll make another PR tomorrow to update the links for the other tc-39 specs.

[2019-10-13 12:11] tobie commented on #560
Awesome, thanks!

[2019-10-14 12:37] #560 closed

[2019-10-28 09:06] marcoscaceres commented on #320
Closed by https://github.com/sidvishnoi/respec-xref-route/

[2019-10-28 09:06] #320 closed

[2019-10-28 09:21] marcoscaceres opened #563 "Clarification on CSS Cascade"
Hi @tabatkins ... we have an interesting issue. Terms like `[=used value=]` are defined in both "css-cascade-3" and "css-cascade-4", but under the short name "css-cascade".

When citing, ideally authors would have the option to just cite "css-cascade", meaning "the latest" or "highest level". However, ""css-cascade" is not aliased in Specref.... we are unsure if:

1. we should explicitly alias "cs

[2019-10-28 10:23] tobie commented on #563
This boils down to how each different WG does versioning, which unfortunately, W3C doesn't want to standardize.

[2019-10-28 10:25] tobie commented on #563
Somewhat related to https://github.com/tobie/specref/issues/463

[2019-10-28 10:41] marcoscaceres commented on #563
@tobie yeah, I figured that would be the case. I guess I was wondering at the same time how BikeShed deals with it and also how the CSS WG deals with it in general. @fantasai can probably also provide guidance as primary editor of the css-cascade spec.

[2019-10-28 10:45] tobie commented on #563
FWIW: I think aliasing css-cascade to css-cascade-4 is perfectly acceptable.

[2019-10-28 19:13] tabatkins commented on #563
Yeah, this is ultimately a W3C failing: we've tried to get them to give CSS a consistent treatment across all of our specs but have failed; instead we just have to remember to bug them about adding aliases whenever we publish something that doesn't have an alias yet.

Bikeshed ends up dealing with this via its biblio fallback; if a biblio label isn't in SpecRef, but it *does* match a shortname (ve

[2019-10-29 02:28] marcoscaceres commented on #563
Slapped together a script for it:
https://github.com/tobie/specref/pull/564

@tabatkins, can you check if the output looks right? It is also capable of updating any outdated aliases to the highest level if a new level becomes available for a spec.

[2019-10-29 07:26] frivoal commented on #563
Semi-off topic:

This is in large part because not all WGs operate in the way the CSS-WG does, and the tooling is generic. If you have a suggestion of a Process change that would help clarify the relationship between various levels of a single spec, that would help the CSSWG without preventing other groups who want to work a little differently from doing so, and help motivate the systems team to b

[2019-10-29 18:21] tabatkins commented on #563
We (fantasai, mainly, I think) have bugged them to do a single comprehensive update, and failed to get traction. This isn't something that needs a process change or a generic policy that applies cross-WG, just our single (large) set of specs getting an update in the systems so that they're all consistently handled, rather than the mishmash they are today.

[2019-11-14 09:28] wetneb opened #568 "Crossref integration"
Citing the original issue in https://github.com/w3c/respec/issues/2568:

There seems to be consensus that SpecRef itself should act as a proxy between clients (such as ReSpec, Bikeshed) and Crossref. In other words, it should be possible to retrieve DOI metadata via the SpecRef API.

In other words it should be possible to do something like this:

    https://api.specref.org/bibrefs?refs=FileAPI,r

[2019-11-14 09:50] tobie commented on #568
I’d like to get feedback from @tabatkins on this as it essentially going to break Bikeshed’s ability to fully work offline.

How many papers are we expecting people will actually reference?

Have we considered instead creating a really simple solution (UI?) to add those to the specref repo itself?

[2019-11-14 09:52] tobie commented on #568
Additionally what specific bit of data that’s missing from Specref do you need to reference these studies in specs? Could you give us an example of how you want them referenced?

[2019-11-14 10:38] wetneb commented on #568
Sure! [Here is an example of Crossref metadata for a sample DOI](https://doi-cache.dissem.in/10.1007/BF02702259). The following fields can be useful to render academic references:
* Type of document (`"type"`) to determine how to render it
* DOI (`"DOI"`)
* ISBN (`"ISBN"`) for articles published as book chapters, see [this example](https://doi-cache.dissem.in/10.1007/978-3-319-93417-4_5)
* ISSN (`

[2019-11-14 11:28] tobie commented on #568
Could you come up with something that's close enough to what Bikeshed and ReSpec already do and specify what data would be needed to render those?

From the above it feels like there actually isn't a lot missing from SpecRef's data model for this.

Well, we'd give its own biblio file. Automate updates to it, etc. I'm more concerned about the licensing terms, here, which are unclear. Do you know wh

[2019-11-14 14:23] wetneb commented on #568
My gut feeling is that it would not hurt to include all the fields mentioned above, so that our hands are not tied to a particular rendering style. If you want to store this metadata in a separate file, then I'd advocate for keeping Crossref's original format directly (perhaps only removing the citations which can take a lot of space and are clearly not going to be useful to render references). I

[2019-11-14 16:32] tobie commented on #568
No. See [JSON schemas](https://github.com/tobie/specref/blob/master/schemas/reference.json).

Given limited resources to implement and maintain this, I feel quite the opposite: agree on a particular rendering style that’s as close as possible to what’s existing. Add just the extra fields that are necessary (so not splitting last names and first names, for example), and combine things like title an

[2019-11-14 17:48] wetneb commented on #568
OK! It looks like I don't fully understand what setting up this cache involves for you, since I was expecting it to be less maintenance work to reuse their existing format, rather than having to maintain code that does the translation. I am not going to stand in the way and let you do it how you think it fits the platform best :)

[2019-11-15 15:03] wetneb commented on #568
A proof of concept can be found here: https://github.com/w3c/respec/pull/2569

@tobie that demonstrates a possible rendering method, which uses many of the fields mentioned above. (But then again, this renderer is probably going to evolve as it gets used on various examples, so having to decide on a rendering style before deciding how the medadata is stored feels a bit like putting the carriage be

[2019-11-15 17:10] tobie commented on #568
Well, the whole point of Specref is to offer as common a data format as possible for all of its references, with the explicit goal to focus on spec edition use cases (and related tools).

So what would be idea is providing a mapping between the two so that the API users have as little to change as possible in their code.

[2019-11-15 22:09] wetneb commented on #568
Sure! I don't feel like I can do these design decisions concerning your format, so I will leave that to anyone who wants to push this further.

[2019-11-16 07:19] tobie commented on #568
So I assumed from our earlier exchanges that you would be interested to submit a PR for this. To set expectations, I don’t imagine I’ll find the time to work on this myself in the foreseeable future. So unless someone else is interested to work on this, it probably won’t get done.

[2019-11-16 09:33] marcoscaceres commented on #568
Yes, that’s also my understanding Also. We can provide guidance, but unlikely can work on the PR.

[2019-11-16 10:04] wetneb commented on #568
Ok, I should clarify my take on this. When I first opened the issue in ReSpec I had a simple idea in mind (the one I demonstrated in w3c/respec#2569), which I could afford spending time on.

With the architecture you are proposing, it looks like this would take me much more time.
As I tried to explain above, I will surely figure out issues with Crossref's metadata as I use the feature. So I will w

[2019-11-16 10:23] tobie commented on #568
As I tried to explain above, I will surely figure out issues with Crossref's metadata as I use the feature. So I will want to tweak the renderer and the code that does the translation from Crossref's format to yours. To add another field for instance, this means getting PRs merged in both repositories, with potential disagreements about the format and translation code.

Why can't you do this work

[2019-11-16 10:23] #568 closed

[2019-11-16 10:52] wetneb commented on #568
I am really sorry that it makes you sad! I apologize if you feel like I abused your time.

Crossref contains 100 million references, contributed by many different publishers, who all have different curation pipelines, so there is a lot of variability there. They still use Crossref's format, sure, but they have found many ways to shoehorn their data into it. There are a lot of publication types too

[2019-11-16 11:09] tobie commented on #568
The Specref issue tracker is littered with people wanting Specref to move to whatever format they fancy, with no concrete use cases in mind or actual benefits for the users of Specref. Unsurprisingly, none are ever willing to do the actual work it takes to make it happen.

Specref has a ton of tech debt. Was built on a shoestring budget and has no resources. And yet it enables hundreds of specs to

[2019-11-25 23:11] tabatkins commented on #568
Sidestepping the conversation about integrating this into SpecRef itself, I've got no problem integrating an additional data source into Bikeshed's data, if it's high-quality and useful.

As Tobie alludes, I'd prefer getting *all* the data source directly; an http-only API means you can't build a Bikeshedded spec offline. That said, I'm not against it philosophically; I already have some HTTP-base

[2019-12-02 20:36] domenic opened #571 "HR-TIME should be an alias for the latest HR-TIME"
https://www.specref.org/?q=HR-TIME shows `[HR-TIME]` as obsolete, but the DOM Standard needs to be able to refer to the latest HR-TIME ED at https://w3c.github.io/hr-time/ in some way. I would assume `[HR-TIME]` could be that reference, with e.g. `[HR-TIME-1]` being the obsolete one.

[2019-12-02 20:48] tobie commented on #571
Heh. That's yet again another one of the same issue of W3C not being consistent with their versioning scheme. You might be able to fix that using overwrites. @marcoscaceres attempted a solution in https://github.com/tobie/specref/pull/564 (although for CSS specs only). But it came with its own set of issues.

The only real solution moving forward would be to enforce a consistent data model in Spec

[2019-12-02 20:51] domenic commented on #571
Do you have advice for what we should do in the DOM Standard in the meantime? I'd guess, switch to using `[HR-TIME-2]`, and update it every time a new edition comes out?

I guess part of the weirdness is that Bikeshed is complaining at us about using "obsolete" refs, but at the same time using Bikeshed's "prefer latest specs" option means that the obsolete URL never shows up, only the ED URL. /cc

[2019-12-02 21:08] tobie commented on #571
Yeah. This sucks. I agree.

[2019-12-03 19:36] domenic commented on #571
It's frustrating that when I try that, Bikeshed lists the bibliography entry as "High Resolution Time Level 2. URL: https://w3c.github.io/hr-time/", but when I click on that URL, the title is just "High Resolution Time". More of a Bikeshed issue though, I guess...

[2019-12-03 19:51] domenic commented on #571
I guess what's really missing here is an entry in specref that is "Editor's Draft only", which Bikeshed could use when in the `Default Ref Status: current` mode. That would have a title derived from the ED, instead of the TR counterpart.

The problem is now specref is keying off of TR documents, so when a spec author wants to reference an ED, they have to pick a random corresponding TR document an

[2019-12-03 20:11] tobie commented on #571
Those are good points.

[2019-12-04 14:36] ExE-Boss commented on #571
In&nbsp;fact, the&nbsp;<https://www.w3.org/TR/hr-time/>&nbsp;URL is&nbsp;an&nbsp;alias for&nbsp;<https://www.w3.org/TR/hr-time-2/> (and&nbsp;eventually <https://www.w3.org/TR/hr-time-3/>, once&nbsp;that&nbsp;becomes a&nbsp;**W3C&nbsp;Recommendation**).

It’s&nbsp;<https://www.w3.org/TR/hr-time-1/> that&nbsp;links to&nbsp;the&nbsp;obsolete&nbsp;spec.

[2019-12-06 08:26] annevk commented on #571
@plehegar is this something you can solve on the W3C side? To ensure hr-time always points to the latest version rather than being obsolete?

[2019-12-06 08:35] tobie commented on #571
I think @ExE-Boss's work is getting us really close to not only have a solution for this particular instance, but also be able to solve this very issue easily more broadly.

[2019-12-06 11:32] plehegar commented on #571
I did catch the fact that our API was broken and didn't do versioning properly:
 https://github.com/w3c/w3c-api/issues/96

ie while https://www.w3.org/TR/hr-time/ points to hr-time-2, the API points to the obsolete version of hr-time-1. The fix that that we have to encode the redirects in the DB rather in .htaccess file that the DB doesn't understand.

@tobie , is that the reason why specref gets

[2019-12-06 11:33] #571 closed

[2019-12-06 13:17] plehegar commented on #571
I expect this to be fixed no later than January btw.

[2019-12-06 15:55] domenic commented on #571
Thank you very much @ExE-Boss; I didn't really expect this to be solvable, but you saved us!

[2019-12-09 18:34] clelland opened #574 "Reporting API has moved; old URL still exists in SpecRef"
The Reporting API migrated out of incubation some time ago; however specref still returns the old URL for "REPORTING" (https://wicg.github.io/reporting/) rather than the adopted location (https://w3c.github.io/reporting/).

(This is mostly mitigated by GitHub's automatic redirection, but my bibilography entries are still wrong, and section-fragment-linking doesn't work through the redirect.)

[2020-01-29 00:47] #574 closed

[2020-02-01 23:05] greenkeeper[bot] opened #579 "An in-range update of jsdom is breaking the build 🚨"
## The devDependency [jsdom](https://github.com/jsdom/jsdom) was updated from `16.0.1` to `16.1.0`.

🚨 [View failing branch](https://github.com/tobie/specref/compare/master...tobie:greenkeeper%2Fjsdom-16.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jsdom is a devDependency of this project. It **might not break you

[2020-02-02 07:25] #579 closed

[2020-02-04 09:43] tidoust opened #581 "specworker bot out of office?"
Last commit from specworker was on [17 December 2019](https://github.com/tobie/specref/commit/24d4fd35d944d72f4c5fa6cb01576b388f82673e) and there have been a number of updates since then. Update scripts run fine on my local machine.

Any button that could be pushed to make the bot run again?

[2020-02-04 10:28] tobie commented on #581
There’s some conflict somewhere that needs to be addressed. Running the test suite should tell you what. I usually pick those up quickly and fix them, but I have been travelling a lot and my SSD died in the middle of that. My replacement laptop, a Chromebook, doesn’t have a dev env setup and so I couldn’t do much about it.

[2020-02-04 11:26] tidoust commented on #581
Ah, got it. I had run `npm test` before running the update scripts, which obviously didn't reveal much...

`web-share` seems to be the issue here. It still appears as a WICG spec but has also been published to /TR/ (on 17 December 2019...). I'll have it removed from WICG's biblio.

[2020-02-04 11:31] ExE-Boss commented on #581
There’s&nbsp;also some&nbsp;bug with&nbsp;aliases in&nbsp;`scte.json` not&nbsp;getting processed&nbsp;correctly, causing&nbsp;schema&nbsp;validation&nbsp;failures.

[2020-02-04 11:32] tidoust commented on #581
Web Share API fix on its way, see https://github.com/WICG/admin/pull/89.
I see the schema validation issues as well. Will look into them.

[2020-02-04 11:36] tobie commented on #581
You can update it here right away by using an overwrite file for wicg with the following action:

[code]

[2020-02-04 11:38] tobie commented on #581
Had missed your PR. Thanks @ExE-Boss!

[2020-02-04 11:42] tobie commented on #581
The error messages of the JSON-schema validator are a bit weird. This probably simply implies a schema violation. Not obvious by perusing the file, tbh. Do you have the exact error available?

[2020-02-04 11:47] ExE-Boss commented on #581
The&nbsp;issue is&nbsp;that <code>{&nbsp;"aliasOf":&nbsp;"scte..."&nbsp;}</code> gets&nbsp;replaced&nbsp;with <code>{&nbsp;"publisher":&nbsp;"scte",&nbsp;"source":&nbsp;"..."&nbsp;}</code>:

[code]

[2020-02-04 11:51] tobie commented on #581
The import script needs to account for aliases.

[2020-02-04 12:05] tobie commented on #581
…so I imagine a new `else if` clause in [here](https://github.com/tobie/specref/blob/74ee876befdd5c23565ba62822d66a216ea8592a/scripts/fetch-refs.js#L43-L58).

[2020-02-04 16:51] tidoust commented on #581
The specworker bot seems to have successfully resumed its work. That's all good!
The temporary overwrite file is no longer needed, see #585.

[2020-02-04 16:51] #581 closed

[2020-03-27 16:26] TimothyGu opened #596 "specworker seems to have stopped auto-updating specs"
Similar to #581. Last update (4ebf24f981ebce9aa01c71c00388cb98efa597fa) was 17 days ago.

[2020-03-27 16:28] tobie commented on #596
I’ve noticed, but I’m swamped and didn’t have a dev env setup until yesterday.

[2020-03-27 17:07] TimothyGu commented on #596
Okay I've fixed it in #597. PTAL.

[2020-03-27 17:32] #596 closed

[2020-06-16 04:33] xfq opened #612 "Retiring tr.rdf"
Background: https://lists.w3.org/Archives/Public/spec-prod/2020AprJun/0006.html

In the past, the only way to get data related to the specifications was [tr.rdf](https://www.w3.org/2002/01/tr-automation/tr.rdf). A few years ago, W3C released the [W3C API](https://api.w3.org/doc) to provide more complete data. Since W3C is now focusing the effort to improve the API, it would be great if [w3c.js](ht

[2020-06-16 21:42] tobie commented on #612
Thanks. What's your timeline for this and would you have resources to implement those changes in Specref?

[2020-08-26 19:18] domenic opened #619 "Missing Compression Streams from WICG?"
I can't find https://wicg.github.io/compression/ in the database. Any hints?

[2020-08-26 22:33] tobie commented on #619
It's missing from https://github.com/WICG/admin/blob/gh-pages/biblio.json

[2020-08-27 16:07] domenic commented on #619
Thanks! I'll close this then since it's not a specref issue, and follow up with the WICG folks to get it added their. (Either manually or automatically.)

[2020-08-27 16:07] #619 closed

[2020-08-27 21:43] domenic opened #620 "Adding Insertable Streams to the database"
I've got another one I'd like to cite... https://w3c.github.io/webrtc-insertable-streams/.

I'm happy to do this manually, but should this be part of the W3C automatic data-import?

[2020-08-27 21:48] tobie commented on #620
EDs don’t show up in W3C‘s API until the first WD. So yeah, you’ll need to add it manually directly to `w3c.json`.

[2020-08-28 17:16] #620 closed

[2020-10-21 05:54] tidoust opened #630 "Need to fix specref.org DNS?"
I don't know what triggered this but dereferencing specref.org now returns a generic registrar page :(

[2020-10-21 07:33] tobie commented on #630
Forgot to renew the domain name.

Should be fixed now.

[2020-10-21 07:50] tobie commented on #630
Keeping this open until the DNS propagates.

[2020-10-22 10:45] tobie commented on #630
DNS propagated here. Closing.

[2020-10-22 10:45] #630 closed

[2020-12-19 11:17] tobie commented on #612
I looked at this a bit, and it's a significant amount of work as W3C's API doesn't appear to be designed for this use case. I don't have the resources to get this work done. So this won't happen unless someone steps up to do the work or is ready to pay for the implementation.

If tr.rdf is retired, Specref will just no longer be automatically updated for W3C specs. Other organizations (such as IET

[2020-12-21 00:04] frivoal commented on #612
@xfq In that case, either W3C should not retire  tr.rdf until find the time/money to do the work to integrate the new API (which possibly includes improving the new API, given that @tobie says it's a poor fit for the use case).

Specref no longer being updated automatically just doesn't seem like an acceptable outcome.

[2020-12-23 06:42] deniak commented on #612
@tobie @frivoal we'll see if we can have someone update specref to switch to the W3C API instead of tr.rdf. Rest assure we won't retire tr.rdf without that switch.
If you know other tools relying on tr.rdf, please let me know.

[2020-12-23 10:36] tobie commented on #612
Things to think about:

- Updates are hourly, we risk going above the threshold allowed by the API.
- We need to go through all specs every hour to see if they have been updated or if there are new ones.
- This means _n_/20 calls to the API listing specs and then _n_ calls to the API for specs, and again _n_ calls to the API for different versions.
- We also need to check aliases, and possibly obs

[2021-02-19 12:06] caribouW3 commented on #612
For the record
https://www.w3.org/2002/01/tr-automation/ has a number of tools working from tr.rdf input, so
we should probably keep it, at least until we have a proper replacement for each of those.

[2021-03-05 17:17] andrea-perego opened #640 "Problems updating the VOCAB-DCAT entry"
@tobie , @deniak , about the problems with PR https://github.com/tobie/specref/pull/635

I wonder whether the issue is that https://github.com/tobie/specref/blob/master/data/w3c-specs.txt includes the following lines:

[code]

The result in https://github.com/tobie/specref/blob/master/refs/w3c.json after commit https://github.com/tobie/specref/commit/4c6025f75fc28caac9d439811fd18234924b8a20 is tha

[2021-04-19 22:04] ianbjacobs opened #648 "Updates to ISO3166 for 2020 revisions"
Hi folks,

@samuelweiler pointed out [1] that the Payment Request API references to ISO3166-1 and ISO3166-2 have been superseded.

I see there have been three updates:

   https://www.iso.org/standard/63545.html -> https://www.iso.org/standard/72482.html
   https://www.iso.org/standard/63546.html -> https://www.iso.org/standard/72483.html
   https://www.iso.org/standard/63547.html -> https://www.i

[2021-04-19 23:17] aphillips commented on #648
@ianbjacobs I don't. In general, most users are more interested in the code lists than the text of these specifications.

[2021-04-19 23:29] marcoscaceres commented on #648
Sent a pr https://github.com/tobie/specref/pull/649

[2021-04-20 04:48] #648 closed

[2021-04-22 11:52] annevk opened #650 "Rename default branch?"

[2021-04-26 12:14] annevk commented on #650
@tobie I'm happy to help with this if there are certain things that need to be done other than flipping a switch on GitHub. Let me know!

[2021-04-26 16:43] tobie commented on #650
Mostly deployment pipeline issues.

[2021-04-26 16:44] #650 closed

[2021-06-10 09:04] dontcallmedom opened #672 "Revert adoption of httpwg.org URLs"
https://github.com/tobie/specref/pull/539 added a hardcoded map from a number of RFCs  to their (much more nicely rendered) equivalent in `httpwg.org` space, but without much discussion or background.

While the improved rendering is certainly valuable, I'm not sure if using a WG-specific domain without clear institutional backing is necessarily the right thing to do by default for links that may

[2021-06-21 12:11] dontcallmedom commented on #672
@tobie any thoughts on this?

[2021-06-21 12:18] tobie commented on #672
I was waiting for @mnot to weigh in.

[2021-06-21 22:51] mnot commented on #672
I guess it depends on what you mean by this. The IETF doesn't really _do_ "official" URLs like the W3C does; the most relevant ones are probably the rfc-editor.org ones, but even they don't have an explicit persistence policy.

It also depends on what you consider to be the relevant institution - is it the IETF, the RFC Editor, or the HTTP WG?

All of that said - I don't have very strong feelings

[2021-06-24 08:56] dontcallmedom commented on #672
given that specref describes these specs with their publisher being IETF, it feels like IETF is the relevant institution in this context - I've filed #675 to proceed with reverting to `datatracker.ietf.org` URLs.

[2021-06-24 13:28] tobie commented on #672
What if we treated those as editor's drafts instead? Feels like a reasonable-ish compromise?

[2021-06-24 13:37] dontcallmedom commented on #672
[I thought about this](https://github.com/w3c/browser-specs/issues/280#issuecomment-854728645), but this wouldn't quite right - there *are* actual editors drafts with different / more up-to-date content, e.g. https://httpwg.org/http-core/draft-ietf-httpbis-semantics-latest.html.

[2021-06-24 13:52] dontcallmedom commented on #672
let me rephrase - I wouldn't object at all to that compromise, but if we do, I want to make sure we understand that implication

[2021-07-01 07:09] marcoscaceres commented on #672
@tobie, is it ok if we proceed with #675? Otherwise we will have to patch this upstream in different projects.

[2021-07-01 07:29] tobie commented on #672
This seems to favor formalism over usability, which I find at odd with some of our guiding principles. I feel like this warrants a deeper conversation. I’m also ooo at the moment and so don’t really want to spend energy defending this point of view right now. I would have preferred a more nuanced solution.

[2021-07-01 07:57] dontcallmedom commented on #672
thanks for taking the time to reply during your time off :)

taking more time to discuss the trade-off makes sense; I'll deal with it downstream for the time being

[2021-07-01 09:43] tobie commented on #672
Thanks for your understanding. I hope this isn’t creating excessive downstream work.

[2021-07-02 09:57] dontcallmedom commented on #672
noting an additional dimension here [from the browser-specs discussion](https://github.com/w3c/browser-specs/issues/280#issuecomment-872867399): recent RFC are published using a more modern format on rfc-editor.org - so maybe that would be a better default than datatracker ones (for non httpwg.org urls in this case).

[2021-07-05 17:40] dontcallmedom commented on #672
submitted #675 re rfc-editor.org URLs.

I'm no longer convinced that reverting the use of httpwg.org is the right approach (per the priorities of the constituencies as @tobie pointed out), so closing this issue.

[2021-07-05 17:40] #672 closed

[2021-07-10 00:27] tabatkins opened #677 "Remove WebIDL-2 alias (and associated dated aliases)"
SpecRef currently recognizes `WebIDL-1` and `WebIDL-2`, along with an unversioned `WebIDL`. The unversioned name points to the current spec in heycam's GH; the `-1` is an alias for the most recent /TR publication (from 2016!), and the `-2` is an alias for the unversioned name.

I have *no idea* where the `-2` version is coming from. I can't detect it in any of the files in this repo, and it doesn'

[2021-07-15 06:54] marcoscaceres commented on #677
Agree... and maybe we can remove "WebIDL-1" entirely.

[2021-07-18 09:45] tobie commented on #677
Happy to merge a pull request. Our policy so far has been to never remove entries, just alias them instead, so if we want to remove entries here, we should start a separate conversation to discuss a policy change (and a process for deprecation/removal).

[2021-08-11 00:34] marcoscaceres opened #678 "Validating linked URLs"
I wonder if we should have a periodic (e.g., one per week/month/year?) check of the references to see which are 404?

[2021-08-17 15:29] tobie opened #681 "Fix CI pipeline"
CI/CD pipeline no longer works since travis-ci.org has been discontinued.

Move to GitHub actions?

[2021-08-17 20:30] marcoscaceres commented on #681
Moving to gh actions makes sense. Let me know if you need a hand with that.

[2021-08-17 20:35] tobie commented on #681
Help welcomed.

[2021-08-18 08:02] #681 closed

[2021-08-18 15:28] tobie commented on #678
Yeah. What do we do with 404, though? Seems we'd need to think about what that implies first.

[2021-08-19 01:05] marcoscaceres opened #685 "Define TypeScript schema for responses"
It be nice to have a TypeScript types file, for APIs that consume this.

(I've not had a chance to do something like this before, but would be useful for projects like ReSpec that consume this data)

CC'ing @saschanaz who may provide guidance? 🙏

I think what we need is described in:
https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-d-ts.html

[2021-08-19 22:53] saschanaz commented on #685
I haven't seen a type scheme defined without an actual library. Might be interesting to see an existing case.

[2021-08-21 00:36] marcoscaceres commented on #685
I'm thinking of something like:
https://www.npmjs.com/package/@types/pluralize

Where the types are delivered independently of the actual library.

I guess then also specref itself would also use them - though it's not really a library in the traditional sense.

[2021-08-24 04:51] marcoscaceres commented on #678
Yeah, lots of options... just thinking out loud here:

 1. just make a "404s.txt" somewhere, but do nothing with the actual biblio data.
 1. file bugs here and ping the contributor identified via `git blame`.
 1. Copy the `href` value to a new prop name `old_href` or whatever, so tools no longer link.
 1. For each 404, see if it's available still on Web Archive and use that instead.
 1. Do nothing

[2021-09-17 18:18] saschanaz commented on #685
That corresponds to the actual library named `pluralize`. Anyway there is `@types/node` which is obviously not a library and also `@types/web-ie11`, so probably doable.

[2021-09-17 18:23] saschanaz commented on #685
BTW I think [getting a JSON schema file](https://json-schema.org/learn/getting-started-step-by-step) would probably be better for multiple language support 👀

[2021-09-17 20:35] tobie commented on #685
Like [these](https://github.com/tobie/specref/tree/main/schemas)?

[2021-09-17 20:37] saschanaz commented on #685
Oh cool. Maybe use things like https://www.npmjs.com/package/json-schema-to-typescript to generate TypeScript lib then?

[2021-10-07 07:45] annevk commented on #677
So is the problem that it creates the alias before the WHATWG data is imported? Perhaps the overrides should happen after the imports?

How did we handle this for other specifications that moved?

[2021-11-18 07:37] xfq opened #688 "BCP 47 alias"
In https://www.specref.org/?q=bcp47 I see:

[code]

But I think BCP 47 contains two RFCs, RFC 5646 and RFC 4647.

/cc @r12a

[2021-11-26 06:56] marcoscaceres commented on #688
Yeah true... this is an interesting case. I wonder if BCP47 should be treated as it's own entry and point to https://www.rfc-editor.org/info/bcp47 ... I'm thinking that this is not an alias and maybe more things will become part of BCP47 over time.

@mnot, would you know how "bcp" things work at the IETF? Could more docs be added?

[2021-11-26 09:00] mnot commented on #688
Yep, BCPs and STDs can refer to one or more RFCs, and they can change over time.

[2021-12-08 07:15] marcoscaceres commented on #688
ok, then yeah... BCP should point to https://www.rfc-editor.org/info/bcp47 ... @xfq, do you want to have a go at updating the entry?

[2021-12-08 07:18] marcoscaceres commented on #688
@tobie, alternatively, I wonder if the IETF bot script should be getting all the "BCP"s somehow?

[2021-12-08 07:34] tobie commented on #688
Yeah. I think that makes sense. Not sure where to get them from, though.

[2021-12-13 22:03] domenic opened #689 "Make [WEBSOCKETS] point to WHATWG spec, not dead W3C spec"
https://www.specref.org/?q=websockets points to https://www.w3.org/TR/websockets/, which redirects to https://html.spec.whatwg.org/multipage/

It should instead point to https://websockets.spec.whatwg.org/, per https://resources.whatwg.org/biblio.json

[2021-12-13 22:21] tobie commented on #689
Lol. That's where all of those PR-Preview errors were coming from earlier today.

[2021-12-13 22:35] tobie commented on #689
That's one of these painful changes like: https://github.com/tobie/specref/pull/686

[2021-12-13 23:32] #689 closed

[2022-03-03 18:48] pchampin opened #699 "the schema for `pages` should allow colon (`:`)"
Some bibliographic entries include a colon (when page numbers are reset to zero per chapter, for example). E.g.: pp. 2:34-2:56

[2022-03-03 18:54] specworker commented on #699
LGTM. Could you make a pull request?

[2022-03-03 18:56] tobie commented on #699
LGTM. Can you make a pull request?

[2022-03-03 20:55] #699 closed

[2022-03-15 01:56] marcoscaceres opened #701 "W3C Process doc missing from W3C data"
It appears that the [w3c process doc](https://www.w3.org/Consortium/Process/) is missing as reference.

Should I add it to biblio.json or can we somehow get it to be added automatically to w3c.json (would be best)?

[2022-03-15 06:28] tobie commented on #701
Either should work

[2022-03-17 05:44] marcoscaceres commented on #701
For the automatic option, do you know off the top of your head where the W3C comes from? I can then go and ask people at the w3c to get it added.

[2022-03-17 07:47] tobie commented on #701
Sorry. Misread your question. Automated content in `w3c.json` comes from `tr.rdf`. So you’ll have to add the file manually.

[2022-03-17 11:43] #701 closed

[2022-04-20 19:08] mattgarrish opened #706 "Unable to reference new mediaqueries-3 REC"
We had a reference in the epub 3.3 specification to `css3-mediaqueries` that lists the 2012 version as the current recommendation, but a new recommendation was published on April 5: https://www.w3.org/TR/mediaqueries-3/

I tried changing the reference to `mediaqueries-3` but this had no effect as it appear to be an alias.

I'm not familiar enough with how the specref database gets updated to say w

[2022-04-20 22:41] tobie commented on #706
Yes! That has broken the auto-update mechanism and I haven’t had the time to look into it.

[2022-04-21 17:17] mattgarrish commented on #706
Is it as easy as stripping this entry from the biblio.json file: https://github.com/tobie/specref/blob/6b142be84d2758249423aa81bbd6f8e4501b289e/refs/biblio.json#L2072

The danger I assume is that if someone really only wants to reference the 2012 version this would bump them forward, but is that a problem in practice?

[2022-04-26 07:57] frivoal commented on #706
Shouldn’t be an issue, these two specs are normatively equivalent. The new one has editorial tweaks, and annotations indicating proposed (therefore not yet accepted as normative) corrections. Except for explicit comparison, (and in that case, they should be referred to with dated drafts), there’s no reason to specifically want to refer to the old one.

[2022-05-03 12:25] elf-pavlik opened #708 "OpenID Connect refs"
Is there some reason for not having OpenID Connect specifications or simply no one has added them?

https://openid.net/developers/specs/

[2022-05-06 22:04] tobie commented on #706
Fixed in #709.

[2022-05-06 22:04] #706 closed

[2022-05-06 22:40] mattgarrish commented on #706
Thanks!

[2022-05-26 00:01] jnurthen opened #710 "[IAccessible2] resolved to an unknown page"
From looking at what was on the old resource from archive.org (https://web.archive.org/web/20160122032422/http://www.linuxfoundation.org/collaborate/workgroups/accessibility/iaccessible2 )

this should now resolve to

https://wiki.linuxfoundation.org/accessibility/iaccessible2/

[2022-05-26 00:05] jnurthen commented on #710
Also AT-SPI is invalid - searching for the new ref for that too

[2022-05-26 00:10] jnurthen commented on #710
AT-SPI should resolve to https://developer-old.gnome.org/libatspi/stable/

[2022-05-26 00:10] jnurthen commented on #710
will create a PR once specref clones

[2022-05-26 07:11] #710 closed

[2022-05-26 22:17] jnurthen commented on #710
@tobie Thanks for merging. Is there a timeframe that these will be live in specref? I still see the old URLs being returned.

[2022-05-27 07:18] tobie commented on #710
It normally is right away except there’s currently a broken update that needs manual fixing. So as soon as I get to it.

[2022-08-09 07:02] indrora opened #717 "Man(ual) pages"
It'd sure be swell to be able to reference the UNIX manpages.

unfortunately, the JSON format doesn't quite have the right shape to handle a manual page reference.

[2022-08-09 07:58] tobie commented on #717
Do you have a link to the JSON file?

[2022-11-09 00:47] alancutter opened #721 "Where was manifest-incubations pulled from?"
https://wicg.github.io/manifest-incubations/ was added in https://github.com/tobie/specref/commit/8954c99bc2047c1276d6ce9f90b58dfabe39494d by what looks like an automated process.
I'm interested in having https://wicg.github.io/web-app-launch/ added to specref, where does it need to live to be pulled in by this automated process?

[2022-11-09 02:30] alancutter commented on #721
https://github.com/tobie/specref#updating--adding-new-references discusses manually adding specs but fitting in with the automated process seems more ideal.

[2022-11-09 06:36] tobie commented on #721
If I recall correctly, this is the right file to add it to: https://github.com/WICG/admin/blob/gh-pages/biblio.json

[2022-11-10 11:24] #721 closed, assigned to nobody